sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"GRNMPN+TeXGyreTermesX-Regular";
	src:url("18705f4e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.830217em;
	font-family: "GRNMPN+TeXGyreTermesX-Regular";
	color: #000000;
}
.stl_08 {
	line-height: 1.336em;
}
.stl_09 {
	letter-spacing: -0.0011em;
}

.ie .stl_09 {
	letter-spacing: -0.015px;
}
.stl_10 {
	letter-spacing: 0em;
}

.ie .stl_10 {
	letter-spacing: 0px;
}
.stl_11 {
	letter-spacing: -0.0041em;
}

.ie .stl_11 {
	letter-spacing: -0.0549px;
}
.stl_12 {
	letter-spacing: -0.0017em;
}

.ie .stl_12 {
	letter-spacing: -0.0231px;
}
.stl_13 {
	letter-spacing: -0.0005em;
}

.ie .stl_13 {
	letter-spacing: -0.0073px;
}
.stl_14 {
	letter-spacing: -0.0013em;
}

.ie .stl_14 {
	letter-spacing: -0.0166px;
}
@font-face {
	font-family:"JTAQTL+TeXGyreTermes-Regular";
	src:url("9d431adb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.830217em;
	font-family: "JTAQTL+TeXGyreTermes-Regular", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"TBURKD+TeXGyreTermesX-Italic";
	src:url("f7f5aa3e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.830217em;
	font-family: "TBURKD+TeXGyreTermesX-Italic", "Times New Roman";
	color: #000000;
}
.stl_17 {
	line-height: 1.375em;
}
.stl_18 {
	letter-spacing: -0.002em;
}

.ie .stl_18 {
	letter-spacing: -0.0266px;
}
@font-face {
	font-family:"LRNDVR+TeXGyreTermesX-Bold";
	src:url("854e906d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 1.434617em;
	font-family: "LRNDVR+TeXGyreTermesX-Bold", "Times New Roman";
	color: #3C71B7;
}
.stl_20 {
	line-height: 1.459em;
}
.stl_21 {
	font-size: 0.830217em;
	font-family: "LRNDVR+TeXGyreTermesX-Bold", "Times New Roman";
	color: #000000;
}
.stl_22 {
	letter-spacing: -0.0115em;
}

.ie .stl_22 {
	letter-spacing: -0.1524px;
}
.stl_23 {
	letter-spacing: -0.0087em;
}

.ie .stl_23 {
	letter-spacing: -0.1151px;
}
.stl_24 {
	letter-spacing: -0.0128em;
}

.ie .stl_24 {
	letter-spacing: -0.1697px;
}
.stl_25 {
	letter-spacing: -0.01em;
}

.ie .stl_25 {
	letter-spacing: -0.1328px;
}
.stl_26 {
	letter-spacing: -0.0104em;
}

.ie .stl_26 {
	letter-spacing: -0.1384px;
}
.stl_27 {
	letter-spacing: -0.0069em;
}

.ie .stl_27 {
	letter-spacing: -0.092px;
}
.stl_28 {
	letter-spacing: -0.0019em;
}

.ie .stl_28 {
	letter-spacing: -0.0246px;
}
.stl_29 {
	letter-spacing: -0.0028em;
}

.ie .stl_29 {
	letter-spacing: -0.0376px;
}
.stl_30 {
	letter-spacing: -0.0031em;
}

.ie .stl_30 {
	letter-spacing: -0.0415px;
}
.stl_31 {
	letter-spacing: -0.0004em;
}

.ie .stl_31 {
	letter-spacing: -0.0058px;
}
.stl_32 {
	letter-spacing: -0.0043em;
}

.ie .stl_32 {
	letter-spacing: -0.0578px;
}
.stl_33 {
	letter-spacing: -0.0065em;
}

.ie .stl_33 {
	letter-spacing: -0.0866px;
}
.stl_34 {
	letter-spacing: -0.0006em;
}

.ie .stl_34 {
	letter-spacing: -0.0083px;
}
@font-face {
	font-family:"FHGNRC+CMR10";
	src:url("c66b55e0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.830217em;
	font-family: "FHGNRC+CMR10", "Times New Roman";
	color: #000000;
}
.stl_36 {
	line-height: 1em;
}
.stl_37 {
	letter-spacing: 0.0001em;
}

.ie .stl_37 {
	letter-spacing: 0.002px;
}
.stl_38 {
	font-size: 0.830217em;
	font-family: "GRNMPN+TeXGyreTermesX-Regular";
	color: #3C71B7;
}
.stl_39 {
	letter-spacing: 0.0003em;
}

.ie .stl_39 {
	letter-spacing: 0.004px;
}
@font-face {
	font-family:"IUOGED+CMSY10";
	src:url("0bab8e52-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 0.830217em;
	font-family: "IUOGED+CMSY10", "Times New Roman";
	color: #000000;
}
.stl_41 {
	line-height: 1.735em;
}
.stl_42 {
	letter-spacing: 0.0005em;
}

.ie .stl_42 {
	letter-spacing: 0.006px;
}
@font-face {
	font-family:"NSCCAF+CMMI10";
	src:url("0e936940-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.830217em;
	font-family: "NSCCAF+CMMI10", "Times New Roman";
	color: #000000;
}
.stl_44 {
	letter-spacing: 0.0008em;
}

.ie .stl_44 {
	letter-spacing: 0.0106px;
}
@font-face {
	font-family:"SSIQAR+CMEX10";
	src:url("8320b2ff-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 0.830217em;
	font-family: "SSIQAR+CMEX10";
	color: #000000;
}
.stl_46 {
	line-height: 3.732em;
}
.stl_47 {
	letter-spacing: 0.0004em;
}

.ie .stl_47 {
	letter-spacing: 0.006px;
}
.stl_48 {
	letter-spacing: -0.0001em;
}

.ie .stl_48 {
	letter-spacing: -0.0009px;
}
@font-face {
	font-family:"WBHJMR+CMR7";
	src:url("8225ae2b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 0.69738em;
	font-family: "WBHJMR+CMR7", "Times New Roman";
	color: #000000;
}
.stl_50 {
	letter-spacing: 0.072em;
}

.ie .stl_50 {
	letter-spacing: 0.6692px;
}
.stl_51 {
	letter-spacing: 0.0504em;
}

.ie .stl_51 {
	letter-spacing: 0.6692px;
}
.stl_52 {
	letter-spacing: 0.0002em;
}

.ie .stl_52 {
	letter-spacing: 0.0028px;
}
.stl_53 {
	letter-spacing: 0.0009em;
}

.ie .stl_53 {
	letter-spacing: 0.012px;
}
.stl_54 {
	letter-spacing: 0.0006em;
}

.ie .stl_54 {
	letter-spacing: 0.0082px;
}
.stl_55 {
	font-size: 0.833333em;
	font-family: "Times New Roman";
	color: #000000;
}
.stl_56 {
	line-height: 1.107422em;
}
.stl_57 {
	font-size: 0.58115em;
	font-family: "WBHJMR+CMR7", "Times New Roman";
	color: #000000;
}
.stl_58 {
	letter-spacing: 0.0718em;
}

.ie .stl_58 {
	letter-spacing: 0.6679px;
}
.stl_59 {
	letter-spacing: 0.0503em;
}

.ie .stl_59 {
	letter-spacing: 0.6679px;
}
.stl_60 {
	font-size: 0.7472em;
	font-family: "GRNMPN+TeXGyreTermesX-Regular";
	color: #3C71B7;
}
.stl_61 {
	letter-spacing: -0.0037em;
}

.ie .stl_61 {
	letter-spacing: -0.0485px;
}
.stl_62 {
	letter-spacing: -0.0038em;
}

.ie .stl_62 {
	letter-spacing: -0.0505px;
}
.stl_63 {
	letter-spacing: -0.0073em;
}

.ie .stl_63 {
	letter-spacing: -0.0971px;
}
.stl_64 {
	letter-spacing: -0.006em;
}

.ie .stl_64 {
	letter-spacing: -0.0797px;
}
.stl_65 {
	letter-spacing: -0.0025em;
}

.ie .stl_65 {
	letter-spacing: -0.0332px;
}
.stl_66 {
	letter-spacing: -0.003em;
}

.ie .stl_66 {
	letter-spacing: -0.0398px;
}
.stl_67 {
	letter-spacing: -0.0167em;
}

.ie .stl_67 {
	letter-spacing: -0.2214px;
}
.stl_68 {
	letter-spacing: -0.0225em;
}

.ie .stl_68 {
	letter-spacing: -0.2989px;
}
.stl_69 {
	letter-spacing: -0.0036em;
}

.ie .stl_69 {
	letter-spacing: -0.0483px;
}
.stl_70 {
	letter-spacing: -0.0009em;
}

.ie .stl_70 {
	letter-spacing: -0.0123px;
}
.stl_71 {
	letter-spacing: -0.0075em;
}

.ie .stl_71 {
	letter-spacing: -0.0996px;
}
.stl_72 {
	letter-spacing: -0.005em;
}

.ie .stl_72 {
	letter-spacing: -0.0664px;
}
.stl_73 {
	letter-spacing: -0.0083em;
}

.ie .stl_73 {
	letter-spacing: -0.1107px;
}
.stl_74 {
	letter-spacing: -0.0072em;
}

.ie .stl_74 {
	letter-spacing: -0.0955px;
}
.stl_75 {
	letter-spacing: -0.0029em;
}

.ie .stl_75 {
	letter-spacing: -0.038px;
}
.stl_76 {
	letter-spacing: 0.0007em;
}

.ie .stl_76 {
	letter-spacing: 0.0088px;
}
.stl_77 {
	letter-spacing: -0.0129em;
}

.ie .stl_77 {
	letter-spacing: -0.1708px;
}
.stl_78 {
	letter-spacing: -0.0033em;
}

.ie .stl_78 {
	letter-spacing: -0.0443px;
}
.stl_79 {
	letter-spacing: -0.0056em;
}

.ie .stl_79 {
	letter-spacing: -0.0738px;
}
.stl_80 {
	letter-spacing: -0.008em;
}

.ie .stl_80 {
	letter-spacing: -0.1063px;
}
.stl_81 {
	letter-spacing: -0.0032em;
}

.ie .stl_81 {
	letter-spacing: -0.0423px;
}
.stl_82 {
	letter-spacing: 0.001em;
}

.ie .stl_82 {
	letter-spacing: 0.0132px;
}
.stl_83 {
	letter-spacing: 0.0014em;
}

.ie .stl_83 {
	letter-spacing: 0.0132px;
}
.stl_84 {
	letter-spacing: -0.0089em;
}

.ie .stl_84 {
	letter-spacing: -0.1189px;
}
.stl_85 {
	letter-spacing: -0.0137em;
}

.ie .stl_85 {
	letter-spacing: -0.182px;
}
.stl_86 {
	letter-spacing: 0.0058em;
}

.ie .stl_86 {
	letter-spacing: 0.077px;
}
.stl_87 {
	letter-spacing: -0.004em;
}

.ie .stl_87 {
	letter-spacing: -0.0533px;
}
.stl_88 {
	letter-spacing: -0.0046em;
}

.ie .stl_88 {
	letter-spacing: -0.0607px;
}
.stl_89 {
	letter-spacing: -0.0018em;
}

.ie .stl_89 {
	letter-spacing: -0.0242px;
}
.stl_90 {
	letter-spacing: -0.0058em;
}

.ie .stl_90 {
	letter-spacing: -0.0775px;
}
.stl_91 {
	letter-spacing: -0.0067em;
}

.ie .stl_91 {
	letter-spacing: -0.0886px;
}
.stl_92 {
	letter-spacing: -0.0034em;
}

.ie .stl_92 {
	letter-spacing: -0.045px;
}
.stl_93 {
	letter-spacing: -0.0015em;
}

.ie .stl_93 {
	letter-spacing: -0.0204px;
}
.stl_94 {
	letter-spacing: -0.0183em;
}

.ie .stl_94 {
	letter-spacing: -0.2435px;
}
.stl_95 {
	letter-spacing: 0.0361em;
}

.ie .stl_95 {
	letter-spacing: 0.3359px;
}
.stl_96 {
	letter-spacing: 0.0253em;
}

.ie .stl_96 {
	letter-spacing: 0.3359px;
}
.stl_97 {
	letter-spacing: -0.0002em;
}

.ie .stl_97 {
	letter-spacing: -0.0031px;
}
.stl_98 {
	letter-spacing: -0.0042em;
}

.ie .stl_98 {
	letter-spacing: -0.0553px;
}
.stl_99 {
	letter-spacing: -0.0007em;
}

.ie .stl_99 {
	letter-spacing: -0.01px;
}
.stl_100 {
	letter-spacing: -0.06em;
}

.ie .stl_100 {
	letter-spacing: -0.797px;
}
.stl_101 {
	letter-spacing: -0.0022em;
}

.ie .stl_101 {
	letter-spacing: -0.0295px;
}
.stl_102 {
	letter-spacing: -0.1662em;
}

.ie .stl_102 {
	letter-spacing: -2.2077px;
}
.stl_103 {
	letter-spacing: -0.0052em;
}

.ie .stl_103 {
	letter-spacing: -0.0686px;
}
.stl_104 {
	letter-spacing: -0.0016em;
}

.ie .stl_104 {
	letter-spacing: -0.021px;
}
.stl_105 {
	letter-spacing: -0.015em;
}

.ie .stl_105 {
	letter-spacing: -0.1993px;
}
.stl_106 {
	letter-spacing: -0.001em;
}

.ie .stl_106 {
	letter-spacing: -0.0133px;
}
.stl_107 {
	letter-spacing: -0.0047em;
}

.ie .stl_107 {
	letter-spacing: -0.0623px;
}
.stl_108 {
	letter-spacing: -0.0012em;
}

.ie .stl_108 {
	letter-spacing: -0.016px;
}
.stl_109 {
	letter-spacing: 0.0285em;
}

.ie .stl_109 {
	letter-spacing: 0.3779px;
}
.stl_110 {
	letter-spacing: -0.0061em;
}

.ie .stl_110 {
	letter-spacing: -0.0807px;
}
.stl_111 {
	letter-spacing: -0.0003em;
}

.ie .stl_111 {
	letter-spacing: -0.004px;
}
.stl_112 {
	letter-spacing: -0.0048em;
}

.ie .stl_112 {
	letter-spacing: -0.0638px;
}
.stl_113 {
	letter-spacing: -0.0027em;
}

.ie .stl_113 {
	letter-spacing: -0.0362px;
}
.stl_114 {
	letter-spacing: -0.0026em;
}

.ie .stl_114 {
	letter-spacing: -0.035px;
}
@font-face {
	font-family:"KIISKC+CMSY7";
	src:url("ddf1cb4e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_115 {
	font-size: 0.69738em;
	font-family: "KIISKC+CMSY7", "Times New Roman";
	color: #000000;
}
.stl_116 {
	line-height: 1.733em;
}
.stl_117 {
	letter-spacing: -0.0081em;
}

.ie .stl_117 {
	letter-spacing: -0.1079px;
}
.stl_118 {
	letter-spacing: -0.0039em;
}

.ie .stl_118 {
	letter-spacing: -0.0519px;
}
.stl_119 {
	letter-spacing: -0.0062em;
}

.ie .stl_119 {
	letter-spacing: -0.083px;
}
@font-face {
	font-family:"ISOAMB+CMMI7";
	src:url("307ed0ac-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_120 {
	font-size: 0.69738em;
	font-family: "ISOAMB+CMMI7", "Times New Roman";
	color: #000000;
}
.stl_121 {
	letter-spacing: -0.0021em;
}

.ie .stl_121 {
	letter-spacing: -0.0273px;
}
.stl_122 {
	letter-spacing: -0.1652em;
}

.ie .stl_122 {
	letter-spacing: -2.1944px;
}
.stl_123 {
	letter-spacing: 0.013em;
}

.ie .stl_123 {
	letter-spacing: 0.1733px;
}
.stl_124 {
	letter-spacing: -0.0023em;
}

.ie .stl_124 {
	letter-spacing: -0.03px;
}
.stl_125 {
	letter-spacing: -0.0014em;
}

.ie .stl_125 {
	letter-spacing: -0.0181px;
}
.stl_126 {
	letter-spacing: 0.0232em;
}

.ie .stl_126 {
	letter-spacing: 0.3085px;
}
.stl_127 {
	letter-spacing: 0.0403em;
}

.ie .stl_127 {
	letter-spacing: 0.5353px;
}
.stl_128 {
	letter-spacing: 0.0023em;
}

.ie .stl_128 {
	letter-spacing: 0.031px;
}
.stl_129 {
	letter-spacing: 0.0309em;
}

.ie .stl_129 {
	letter-spacing: 0.4105px;
}
.stl_130 {
	letter-spacing: 0.0011em;
}

.ie .stl_130 {
	letter-spacing: 0.0143px;
}
.stl_131 {
	letter-spacing: 0.006em;
}

.ie .stl_131 {
	letter-spacing: 0.0794px;
}
.stl_132 {
	letter-spacing: -0.0035em;
}

.ie .stl_132 {
	letter-spacing: -0.0467px;
}
.stl_133 {
	letter-spacing: -0.105em;
}

.ie .stl_133 {
	letter-spacing: -1.3948px;
}
.stl_134 {
	letter-spacing: -0.0024em;
}

.ie .stl_134 {
	letter-spacing: -0.0323px;
}
.stl_135 {
	letter-spacing: -0.02em;
}

.ie .stl_135 {
	letter-spacing: -0.2657px;
}
.stl_136 {
	letter-spacing: 0.0188em;
}

.ie .stl_136 {
	letter-spacing: 0.2497px;
}
.stl_137 {
	letter-spacing: 0.0103em;
}

.ie .stl_137 {
	letter-spacing: 0.1368px;
}
.stl_138 {
	letter-spacing: -0.0008em;
}

.ie .stl_138 {
	letter-spacing: -0.0111px;
}
.stl_139 {
	letter-spacing: 0.0042em;
}

.ie .stl_139 {
	letter-spacing: 0.0553px;
}
.stl_140 {
	letter-spacing: -0.09em;
}

.ie .stl_140 {
	letter-spacing: -1.1955px;
}
.stl_141 {
	letter-spacing: -0.0082em;
}

.ie .stl_141 {
	letter-spacing: -0.1087px;
}
.stl_142 {
	letter-spacing: -0.0317em;
}

.ie .stl_142 {
	letter-spacing: -0.4206px;
}
.stl_143 {
	letter-spacing: -0.0055em;
}

.ie .stl_143 {
	letter-spacing: -0.0731px;
}
.stl_144 {
	letter-spacing: -0.0117em;
}

.ie .stl_144 {
	letter-spacing: -0.155px;
}
.stl_145 {
	letter-spacing: -0.0053em;
}

.ie .stl_145 {
	letter-spacing: -0.0706px;
}
.stl_146 {
	letter-spacing: -0.0045em;
}

.ie .stl_146 {
	letter-spacing: -0.0604px;
}
.stl_147 {
	letter-spacing: -0.0233em;
}

.ie .stl_147 {
	letter-spacing: -0.3099px;
}
.stl_148 {
	letter-spacing: -0.0071em;
}

.ie .stl_148 {
	letter-spacing: -0.0949px;
}
.stl_149 {
	font-size: 0.69738em;
	font-family: "GRNMPN+TeXGyreTermesX-Regular";
	color: #000000;
}
.stl_150 {
	letter-spacing: -0.0175em;
}

.ie .stl_150 {
	letter-spacing: -0.2325px;
}
.stl_151 {
	letter-spacing: -0.0088em;
}

.ie .stl_151 {
	letter-spacing: -0.1162px;
}
.stl_152 {
	letter-spacing: -0.095em;
}

.ie .stl_152 {
	letter-spacing: -1.2619px;
}
.stl_153 {
	letter-spacing: -0.0111em;
}

.ie .stl_153 {
	letter-spacing: -0.1476px;
}
.stl_154 {
	letter-spacing: -0.007em;
}

.ie .stl_154 {
	letter-spacing: -0.093px;
}
@font-face {
	font-family:"GQAGFF+LINE10";
	src:url("ae1063e7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_155 {
	font-size: 0.830217em;
	font-family: "GQAGFF+LINE10", "Times New Roman";
	color: #000000;
}
.stl_156 {
	line-height: 1.17em;
}
.stl_157 {
	letter-spacing: -0.9em;
}

.ie .stl_157 {
	letter-spacing: -11.9555px;
}
.stl_158 {
	letter-spacing: 0.0125em;
}

.ie .stl_158 {
	letter-spacing: 0.1656px;
}
.stl_159 {
	letter-spacing: 0.0204em;
}

.ie .stl_159 {
	letter-spacing: 0.271px;
}
.stl_160 {
	letter-spacing: -0.0155em;
}

.ie .stl_160 {
	letter-spacing: -0.2055px;
}
.stl_161 {
	letter-spacing: 0.0132em;
}

.ie .stl_161 {
	letter-spacing: 0.1756px;
}
.stl_162 {
	letter-spacing: 0.0069em;
}

.ie .stl_162 {
	letter-spacing: 0.0917px;
}
.stl_163 {
	letter-spacing: -0.0057em;
}

.ie .stl_163 {
	letter-spacing: -0.0755px;
}
.stl_164 {
	letter-spacing: 0.0071em;
}

.ie .stl_164 {
	letter-spacing: 0.095px;
}
.stl_165 {
	letter-spacing: -0.0112em;
}

.ie .stl_165 {
	letter-spacing: -0.1494px;
}
.stl_166 {
	letter-spacing: -0.0125em;
}

.ie .stl_166 {
	letter-spacing: -0.1661px;
}
.stl_167 {
	letter-spacing: -0.018em;
}

.ie .stl_167 {
	letter-spacing: -0.2391px;
}
.stl_168 {
	letter-spacing: -0.0107em;
}

.ie .stl_168 {
	letter-spacing: -0.1423px;
}
.stl_169 {
	letter-spacing: 0.0048em;
}

.ie .stl_169 {
	letter-spacing: 0.0633px;
}
.stl_170 {
	letter-spacing: 0.0126em;
}

.ie .stl_170 {
	letter-spacing: 0.1678px;
}
.stl_171 {
	letter-spacing: 0.0318em;
}

.ie .stl_171 {
	letter-spacing: 0.4221px;
}
.stl_172 {
	letter-spacing: 0.036em;
}

.ie .stl_172 {
	letter-spacing: 0.4782px;
}
.stl_173 {
	letter-spacing: 0.0322em;
}

.ie .stl_173 {
	letter-spacing: 0.4274px;
}
.stl_174 {
	letter-spacing: -0.0051em;
}

.ie .stl_174 {
	letter-spacing: -0.0683px;
}
.stl_175 {
	letter-spacing: 0.035em;
}

.ie .stl_175 {
	letter-spacing: 0.4649px;
}
@font-face {
	font-family:"PAIKJD+CMR5";
	src:url("2a5892a0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_176 {
	font-size: 0.415108em;
	font-family: "PAIKJD+CMR5", "Times New Roman";
	color: #000000;
}
.stl_177 {
	letter-spacing: 0.0319em;
}

.ie .stl_177 {
	letter-spacing: 0.4235px;
}
.stl_178 {
	letter-spacing: 0.0455em;
}

.ie .stl_178 {
	letter-spacing: 0.4235px;
}
.stl_179 {
	letter-spacing: -0.0092em;
}

.ie .stl_179 {
	letter-spacing: -0.1218px;
}
.stl_180 {
	letter-spacing: -0.009em;
}

.ie .stl_180 {
	letter-spacing: -0.1196px;
}
.stl_181 {
	font-size: 0.415108em;
	font-family: "GRNMPN+TeXGyreTermesX-Regular";
	color: #000000;
}
.stl_182 {
	letter-spacing: -0.016em;
}

.ie .stl_182 {
	letter-spacing: -0.1063px;
}
.stl_183 {
	letter-spacing: -0.0123em;
}

.ie .stl_183 {
	letter-spacing: -0.1635px;
}
.stl_184 {
	letter-spacing: 0.1086em;
}

.ie .stl_184 {
	letter-spacing: 1.4426px;
}
.stl_185 {
	letter-spacing: 0.1076em;
}

.ie .stl_185 {
	letter-spacing: 1.4293px;
}
.stl_186 {
	letter-spacing: -0.0049em;
}

.ie .stl_186 {
	letter-spacing: -0.0646px;
}
.stl_187 {
	letter-spacing: -0.0133em;
}

.ie .stl_187 {
	letter-spacing: -0.1771px;
}
.stl_188 {
	letter-spacing: 0.0096em;
}

.ie .stl_188 {
	letter-spacing: 0.128px;
}
.stl_189 {
	letter-spacing: 0.0169em;
}

.ie .stl_189 {
	letter-spacing: 0.2252px;
}
.stl_190 {
	letter-spacing: 0.0074em;
}

.ie .stl_190 {
	letter-spacing: 0.099px;
}
.stl_191 {
	letter-spacing: 0.025em;
}

.ie .stl_191 {
	letter-spacing: 0.3325px;
}
.stl_192 {
	letter-spacing: 0.0289em;
}

.ie .stl_192 {
	letter-spacing: 0.3839px;
}
.stl_193 {
	letter-spacing: 0.0286em;
}

.ie .stl_193 {
	letter-spacing: 0.3798px;
}
.stl_194 {
	font-size: 0.7472em;
	font-family: "GRNMPN+TeXGyreTermesX-Regular";
	color: #000000;
}
@font-face {
	font-family:"GDURRJ+CMMI5";
	src:url("f2166477-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_195 {
	font-size: 0.415108em;
	font-family: "GDURRJ+CMMI5", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"AVILUU+CMSY5";
	src:url("9abfbeee-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_196 {
	font-size: 0.415108em;
	font-family: "AVILUU+CMSY5", "Times New Roman";
	color: #000000;
}
.stl_197 {
	letter-spacing: -0.0275em;
}

.ie .stl_197 {
	letter-spacing: -0.3653px;
}
.stl_198 {
	letter-spacing: -0.0044em;
}

.ie .stl_198 {
	letter-spacing: -0.0584px;
}
.stl_199 {
	letter-spacing: 0.0054em;
}

.ie .stl_199 {
	letter-spacing: 0.0717px;
}
.stl_200 {
	letter-spacing: 0.0287em;
}

.ie .stl_200 {
	letter-spacing: 0.3812px;
}
.stl_201 {
	letter-spacing: 0.0106em;
}

.ie .stl_201 {
	letter-spacing: 0.1404px;
}
.stl_202 {
	letter-spacing: 0.0043em;
}

.ie .stl_202 {
	letter-spacing: 0.0575px;
}
.stl_203 {
	letter-spacing: 0.0063em;
}

.ie .stl_203 {
	letter-spacing: 0.0588px;
}
.stl_204 {
	letter-spacing: 0.0045em;
}

.ie .stl_204 {
	letter-spacing: 0.0596px;
}
.stl_205 {
	letter-spacing: 0.0988em;
}

.ie .stl_205 {
	letter-spacing: 1.3124px;
}
.stl_206 {
	letter-spacing: 0.0508em;
}

.ie .stl_206 {
	letter-spacing: 0.6748px;
}
.stl_207 {
	letter-spacing: -0.0094em;
}

.ie .stl_207 {
	letter-spacing: -0.1245px;
}
.stl_208 {
	letter-spacing: 0.1394em;
}

.ie .stl_208 {
	letter-spacing: 1.8517px;
}
.stl_209 {
	letter-spacing: 0.0097em;
}

.ie .stl_209 {
	letter-spacing: 0.1295px;
}
.stl_210 {
	letter-spacing: 0.1091em;
}

.ie .stl_210 {
	letter-spacing: 1.4492px;
}
.stl_211 {
	letter-spacing: -0.0076em;
}

.ie .stl_211 {
	letter-spacing: -0.1006px;
}
.stl_212 {
	letter-spacing: 0.0284em;
}

.ie .stl_212 {
	letter-spacing: 0.3779px;
}
.stl_213 {
	letter-spacing: 0.1123em;
}

.ie .stl_213 {
	letter-spacing: 1.4917px;
}
.stl_214 {
	letter-spacing: -0.056em;
}

.ie .stl_214 {
	letter-spacing: -0.7439px;
}
.stl_215 {
	letter-spacing: 0.0255em;
}

.ie .stl_215 {
	letter-spacing: 0.3394px;
}
.stl_216 {
	font-size: 0.58115em;
	font-family: "ISOAMB+CMMI7", "Times New Roman";
	color: #000000;
}
.stl_217 {
	letter-spacing: 0.1121em;
}

.ie .stl_217 {
	letter-spacing: 1.0423px;
}
.stl_218 {
	letter-spacing: -1em;
}

.ie .stl_218 {
	letter-spacing: -13.2835px;
}
.stl_219 {
	letter-spacing: -0.7985em;
}

.ie .stl_219 {
	letter-spacing: -10.6074px;
}
.stl_220 {
	letter-spacing: -1.1408em;
}

.ie .stl_220 {
	letter-spacing: -10.6074px;
}
.stl_221 {
	letter-spacing: 0.02em;
}

.ie .stl_221 {
	letter-spacing: 0.265px;
}
.stl_222 {
	letter-spacing: 0.0073em;
}

.ie .stl_222 {
	letter-spacing: 0.097px;
}
.stl_223 {
	letter-spacing: 0.0098em;
}

.ie .stl_223 {
	letter-spacing: 0.1304px;
}
.stl_224 {
	letter-spacing: 0.0112em;
}

.ie .stl_224 {
	letter-spacing: 0.1486px;
}
.stl_225 {
	letter-spacing: 0.0078em;
}

.ie .stl_225 {
	letter-spacing: 0.1034px;
}
.stl_226 {
	letter-spacing: 0.0076em;
}

.ie .stl_226 {
	letter-spacing: 0.1007px;
}
.stl_227 {
	letter-spacing: -0.0066em;
}

.ie .stl_227 {
	letter-spacing: -0.087px;
}
.stl_228 {
	letter-spacing: -0.0068em;
}

.ie .stl_228 {
	letter-spacing: -0.0906px;
}
.stl_229 {
	letter-spacing: 0.0116em;
}

.ie .stl_229 {
	letter-spacing: 0.1538px;
}
.stl_230 {
	letter-spacing: 0.0185em;
}

.ie .stl_230 {
	letter-spacing: 0.2464px;
}
.stl_231 {
	letter-spacing: 0.0143em;
}

.ie .stl_231 {
	letter-spacing: 0.1903px;
}
.stl_232 {
	letter-spacing: 0.0279em;
}

.ie .stl_232 {
	letter-spacing: 0.3706px;
}
.stl_233 {
	letter-spacing: 0.0015em;
}

.ie .stl_233 {
	letter-spacing: 0.0204px;
}
.stl_234 {
	letter-spacing: 0.0321em;
}

.ie .stl_234 {
	letter-spacing: 0.427px;
}
.stl_235 {
	letter-spacing: 0.0012em;
}

.ie .stl_235 {
	letter-spacing: 0.0157px;
}
.stl_236 {
	letter-spacing: 0.0085em;
}

.ie .stl_236 {
	letter-spacing: 0.1127px;
}
.stl_237 {
	letter-spacing: 0.0281em;
}

.ie .stl_237 {
	letter-spacing: 0.3737px;
}
.stl_238 {
	letter-spacing: -0.011em;
}

.ie .stl_238 {
	letter-spacing: -0.1461px;
}
.stl_239 {
	letter-spacing: 0.0183em;
}

.ie .stl_239 {
	letter-spacing: 0.2424px;
}
.stl_240 {
	letter-spacing: -0.0054em;
}

.ie .stl_240 {
	letter-spacing: -0.0715px;
}
.stl_241 {
	letter-spacing: -0.0074em;
}

.ie .stl_241 {
	letter-spacing: -0.0977px;
}
.stl_242 {
	letter-spacing: -0.0079em;
}

.ie .stl_242 {
	letter-spacing: -0.1052px;
}
.stl_243 {
	letter-spacing: -0.0136em;
}

.ie .stl_243 {
	letter-spacing: -0.1803px;
}
.stl_244 {
	letter-spacing: 0.0317em;
}

.ie .stl_244 {
	letter-spacing: 0.4216px;
}
.stl_245 {
	letter-spacing: 0.1391em;
}

.ie .stl_245 {
	letter-spacing: 1.8477px;
}
.stl_246 {
	letter-spacing: 0.0194em;
}

.ie .stl_246 {
	letter-spacing: 0.2577px;
}
.stl_247 {
	letter-spacing: 0.0142em;
}

.ie .stl_247 {
	letter-spacing: 0.1886px;
}
.stl_248 {
	letter-spacing: 0.0044em;
}

.ie .stl_248 {
	letter-spacing: 0.0578px;
}
.stl_249 {
	letter-spacing: 0.0094em;
}

.ie .stl_249 {
	letter-spacing: 0.1249px;
}
.stl_250 {
	letter-spacing: -0.0997em;
}

.ie .stl_250 {
	letter-spacing: -1.3248px;
}
.stl_251 {
	letter-spacing: 0.0137em;
}

.ie .stl_251 {
	letter-spacing: 0.182px;
}
.stl_252 {
	letter-spacing: 0.007em;
}

.ie .stl_252 {
	letter-spacing: 0.0925px;
}
.stl_253 {
	letter-spacing: 0.0489em;
}

.ie .stl_253 {
	letter-spacing: 0.6496px;
}
.stl_254 {
	letter-spacing: -0.7986em;
}

.ie .stl_254 {
	letter-spacing: -10.6088px;
}
.stl_255 {
	letter-spacing: -1.1409em;
}

.ie .stl_255 {
	letter-spacing: -10.6088px;
}
.stl_256 {
	letter-spacing: 0.0144em;
}

.ie .stl_256 {
	letter-spacing: 0.1919px;
}
.stl_257 {
	letter-spacing: 0.0038em;
}

.ie .stl_257 {
	letter-spacing: 0.0511px;
}
.stl_258 {
	letter-spacing: 0.0083em;
}

.ie .stl_258 {
	letter-spacing: 0.1096px;
}
.stl_259 {
	letter-spacing: 0.0157em;
}

.ie .stl_259 {
	letter-spacing: 0.146px;
}
.stl_260 {
	letter-spacing: 0.0039em;
}

.ie .stl_260 {
	letter-spacing: 0.0511px;
}
.stl_261 {
	letter-spacing: 0.0056em;
}

.ie .stl_261 {
	letter-spacing: 0.0745px;
}
.stl_262 {
	letter-spacing: 0.1023em;
}

.ie .stl_262 {
	letter-spacing: 0.9513px;
}
.stl_263 {
	letter-spacing: 0.0716em;
}

.ie .stl_263 {
	letter-spacing: 0.9513px;
}
.stl_264 {
	letter-spacing: -0.9557em;
}

.ie .stl_264 {
	letter-spacing: -12.6955px;
}
.stl_265 {
	letter-spacing: 0.0146em;
}

.ie .stl_265 {
	letter-spacing: 0.1937px;
}
.stl_266 {
	letter-spacing: 0.0101em;
}

.ie .stl_266 {
	letter-spacing: 0.1337px;
}
.stl_267 {
	letter-spacing: 0.009em;
}

.ie .stl_267 {
	letter-spacing: 0.1196px;
}
.stl_268 {
	letter-spacing: 0.0278em;
}

.ie .stl_268 {
	letter-spacing: 0.3695px;
}
.stl_269 {
	letter-spacing: 0.0397em;
}

.ie .stl_269 {
	letter-spacing: 0.3695px;
}
.stl_270 {
	letter-spacing: 0.041em;
}

.ie .stl_270 {
	letter-spacing: 0.381px;
}
.stl_271 {
	letter-spacing: -0.0178em;
}

.ie .stl_271 {
	letter-spacing: -0.2362px;
}
.stl_272 {
	letter-spacing: 0.0323em;
}

.ie .stl_272 {
	letter-spacing: 0.4295px;
}
.stl_273 {
	letter-spacing: 0.0462em;
}

.ie .stl_273 {
	letter-spacing: 0.4295px;
}
.stl_274 {
	letter-spacing: -0.0059em;
}

.ie .stl_274 {
	letter-spacing: -0.0778px;
}
.stl_275 {
	letter-spacing: 0.0131em;
}

.ie .stl_275 {
	letter-spacing: 0.1733px;
}
.stl_276 {
	letter-spacing: 0.0156em;
}

.ie .stl_276 {
	letter-spacing: 0.2075px;
}
.stl_277 {
	font-size: 0.49813em;
	font-family: "PAIKJD+CMR5", "Times New Roman";
	color: #000000;
}
.stl_278 {
	letter-spacing: 0.029em;
}

.ie .stl_278 {
	letter-spacing: 0.3852px;
}
.stl_279 {
	letter-spacing: -0.2992em;
}

.ie .stl_279 {
	letter-spacing: -3.9748px;
}
.stl_280 {
	letter-spacing: -0.7003em;
}

.ie .stl_280 {
	letter-spacing: -9.302px;
}
.stl_281 {
	letter-spacing: -0.014em;
}

.ie .stl_281 {
	letter-spacing: -0.186px;
}
.stl_282 {
	letter-spacing: 0.0184em;
}

.ie .stl_282 {
	letter-spacing: 0.2448px;
}
.stl_283 {
	letter-spacing: -0.8234em;
}

.ie .stl_283 {
	letter-spacing: -7.6565px;
}
.stl_284 {
	letter-spacing: 0.1203em;
}

.ie .stl_284 {
	letter-spacing: 1.1181px;
}
.stl_285 {
	letter-spacing: -0.115em;
}

.ie .stl_285 {
	letter-spacing: -1.5276px;
}
.stl_286 {
	letter-spacing: 0.1118em;
}

.ie .stl_286 {
	letter-spacing: 1.4851px;
}
.stl_287 {
	letter-spacing: 0.0367em;
}

.ie .stl_287 {
	letter-spacing: 0.4875px;
}
.stl_288 {
	letter-spacing: 0.0362em;
}

.ie .stl_288 {
	letter-spacing: 0.4803px;
}
.stl_289 {
	letter-spacing: -0.1664em;
}

.ie .stl_289 {
	letter-spacing: -1.5476px;
}
.stl_290 {
	letter-spacing: -0.0077em;
}

.ie .stl_290 {
	letter-spacing: -0.1022px;
}
.stl_291 {
	letter-spacing: 0.0095em;
}

.ie .stl_291 {
	letter-spacing: 0.1266px;
}
.stl_292 {
	letter-spacing: 0.0099em;
}

.ie .stl_292 {
	letter-spacing: 0.1311px;
}
.stl_293 {
	letter-spacing: 0.0055em;
}

.ie .stl_293 {
	letter-spacing: 0.0733px;
}
.stl_294 {
	letter-spacing: 0.0717em;
}

.ie .stl_294 {
	letter-spacing: 0.6671px;
}
.stl_295 {
	letter-spacing: 0.0502em;
}

.ie .stl_295 {
	letter-spacing: 0.6671px;
}
.stl_296 {
	letter-spacing: 0.0046em;
}

.ie .stl_296 {
	letter-spacing: 0.0614px;
}
.stl_297 {
	letter-spacing: 0.0066em;
}

.ie .stl_297 {
	letter-spacing: 0.0614px;
}
.stl_298 {
	letter-spacing: 0.0262em;
}

.ie .stl_298 {
	letter-spacing: 0.2432px;
}
.stl_299 {
	letter-spacing: 0.0124em;
}

.ie .stl_299 {
	letter-spacing: 0.1647px;
}
.stl_300 {
	letter-spacing: 0.0177em;
}

.ie .stl_300 {
	letter-spacing: 0.1647px;
}
.stl_301 {
	letter-spacing: 0.032em;
}

.ie .stl_301 {
	letter-spacing: 0.4255px;
}
.stl_302 {
	letter-spacing: 0.0072em;
}

.ie .stl_302 {
	letter-spacing: 0.095px;
}
.stl_303 {
	letter-spacing: 0.0057em;
}

.ie .stl_303 {
	letter-spacing: 0.0757px;
}
.stl_304 {
	letter-spacing: -0.0078em;
}

.ie .stl_304 {
	letter-spacing: -0.1033px;
}
.stl_305 {
	letter-spacing: 0.012em;
}

.ie .stl_305 {
	letter-spacing: 0.1594px;
}
.stl_306 {
	letter-spacing: 0.0123em;
}

.ie .stl_306 {
	letter-spacing: 0.1638px;
}
.stl_307 {
	letter-spacing: 0.037em;
}

.ie .stl_307 {
	letter-spacing: 0.4915px;
}
.stl_308 {
	letter-spacing: 0.0053em;
}

.ie .stl_308 {
	letter-spacing: 0.071px;
}
.stl_309 {
	letter-spacing: 0.0036em;
}

.ie .stl_309 {
	letter-spacing: 0.0475px;
}
.stl_310 {
	letter-spacing: 0.0029em;
}

.ie .stl_310 {
	letter-spacing: 0.038px;
}
.stl_311 {
	letter-spacing: 0.0033em;
}

.ie .stl_311 {
	letter-spacing: 0.0442px;
}
.stl_312 {
	letter-spacing: 0.0075em;
}

.ie .stl_312 {
	letter-spacing: 0.0996px;
}
.stl_313 {
	letter-spacing: 0.0081em;
}

.ie .stl_313 {
	letter-spacing: 0.1076px;
}
.stl_314 {
	letter-spacing: 0.0111em;
}

.ie .stl_314 {
	letter-spacing: 0.1479px;
}
.stl_315 {
	letter-spacing: 0.0013em;
}

.ie .stl_315 {
	letter-spacing: 0.0173px;
}
.stl_316 {
	letter-spacing: 0.0018em;
}

.ie .stl_316 {
	letter-spacing: 0.0237px;
}
.stl_317 {
	letter-spacing: 0.0017em;
}

.ie .stl_317 {
	letter-spacing: 0.0221px;
}
.stl_318 {
	letter-spacing: -0.892em;
}

.ie .stl_318 {
	letter-spacing: -8.2942px;
}
.stl_319 {
	letter-spacing: -0.0063em;
}

.ie .stl_319 {
	letter-spacing: -0.083px;
}
.stl_320 {
	letter-spacing: 0.0582em;
}

.ie .stl_320 {
	letter-spacing: 0.7731px;
}
.stl_321 {
	letter-spacing: 0.0067em;
}

.ie .stl_321 {
	letter-spacing: 0.0886px;
}
.stl_322 {
	letter-spacing: -0.025em;
}

.ie .stl_322 {
	letter-spacing: -0.3321px;
}
.stl_323 {
	letter-spacing: 0.015em;
}

.ie .stl_323 {
	letter-spacing: 0.1994px;
}
.stl_324 {
	letter-spacing: 0.0786em;
}

.ie .stl_324 {
	letter-spacing: 1.0441px;
}
.stl_325 {
	letter-spacing: 0.0025em;
}

.ie .stl_325 {
	letter-spacing: 0.0335px;
}
.stl_326 {
	letter-spacing: 0.0795em;
}

.ie .stl_326 {
	letter-spacing: 1.056px;
}
.stl_327 {
	letter-spacing: 0.0147em;
}

.ie .stl_327 {
	letter-spacing: 0.1946px;
}
.stl_328 {
	letter-spacing: 0.0026em;
}

.ie .stl_328 {
	letter-spacing: 0.035px;
}
.stl_329 {
	font-size: 0.58115em;
	font-family: "GRNMPN+TeXGyreTermesX-Regular";
	color: #000000;
}
.stl_330 {
	letter-spacing: -0.4412em;
}

.ie .stl_330 {
	letter-spacing: -5.8607px;
}
.stl_331 {
	letter-spacing: -0.2212em;
}

.ie .stl_331 {
	letter-spacing: -2.9383px;
}
.stl_332 {
	letter-spacing: -0.2214em;
}

.ie .stl_332 {
	letter-spacing: -2.9416px;
}
.stl_333 {
	letter-spacing: -0.4402em;
}

.ie .stl_333 {
	letter-spacing: -5.8474px;
}
.stl_334 {
	letter-spacing: 0.139em;
}

.ie .stl_334 {
	letter-spacing: 1.8464px;
}
.stl_335 {
	letter-spacing: 0.0282em;
}

.ie .stl_335 {
	letter-spacing: 0.3746px;
}
.stl_336 {
	letter-spacing: -0.2692em;
}

.ie .stl_336 {
	letter-spacing: -3.5759px;
}
.stl_337 {
	letter-spacing: -0.2244em;
}

.ie .stl_337 {
	letter-spacing: -2.9815px;
}
.stl_338 {
	letter-spacing: -0.4612em;
}

.ie .stl_338 {
	letter-spacing: -6.1263px;
}
.stl_339 {
	letter-spacing: -0.2215em;
}

.ie .stl_339 {
	letter-spacing: -2.9418px;
}
.stl_340 {
	letter-spacing: -0.3052em;
}

.ie .stl_340 {
	letter-spacing: -4.0541px;
}
.stl_341 {
	letter-spacing: -0.2299em;
}

.ie .stl_341 {
	letter-spacing: -3.0539px;
}
.stl_342 {
	letter-spacing: -0.2402em;
}

.ie .stl_342 {
	letter-spacing: -3.1907px;
}
.stl_343 {
	letter-spacing: -0.2232em;
}

.ie .stl_343 {
	letter-spacing: -2.9649px;
}
.stl_344 {
	letter-spacing: 0.0047em;
}

.ie .stl_344 {
	letter-spacing: 0.0622px;
}
.stl_345 {
	letter-spacing: 0.0785em;
}

.ie .stl_345 {
	letter-spacing: 1.0428px;
}
.stl_346 {
	letter-spacing: 0.0068em;
}

.ie .stl_346 {
	letter-spacing: 0.0901px;
}
.stl_347 {
	letter-spacing: 0.0796em;
}

.ie .stl_347 {
	letter-spacing: 1.0574px;
}
.stl_348 {
	letter-spacing: 0.0213em;
}

.ie .stl_348 {
	letter-spacing: 0.2827px;
}
.stl_349 {
	letter-spacing: 0.0783em;
}

.ie .stl_349 {
	letter-spacing: 0.7281px;
}
.stl_350 {
	letter-spacing: 0.0161em;
}

.ie .stl_350 {
	letter-spacing: 0.1502px;
}
.stl_351 {
	letter-spacing: 0.011em;
}

.ie .stl_351 {
	letter-spacing: 0.1459px;
}
.stl_352 {
	letter-spacing: 0.0363em;
}

.ie .stl_352 {
	letter-spacing: 0.4822px;
}
.stl_353 {
	letter-spacing: 0.018em;
}

.ie .stl_353 {
	letter-spacing: 0.2398px;
}
.stl_354 {
	letter-spacing: 0.0813em;
}

.ie .stl_354 {
	letter-spacing: 1.08px;
}
.stl_355 {
	letter-spacing: 0.0823em;
}

.ie .stl_355 {
	letter-spacing: 1.0932px;
}
.stl_356 {
	letter-spacing: 0.0049em;
}

.ie .stl_356 {
	letter-spacing: 0.0653px;
}
.stl_357 {
	letter-spacing: 0.005em;
}

.ie .stl_357 {
	letter-spacing: 0.0666px;
}
.stl_358 {
	letter-spacing: 0.0037em;
}

.ie .stl_358 {
	letter-spacing: 0.0487px;
}
.stl_359 {
	letter-spacing: 0.004em;
}

.ie .stl_359 {
	letter-spacing: 0.0533px;
}
.stl_360 {
	letter-spacing: -0.0091em;
}

.ie .stl_360 {
	letter-spacing: -0.1213px;
}
.stl_361 {
	letter-spacing: -0.0132em;
}

.ie .stl_361 {
	letter-spacing: -0.1753px;
}
.stl_362 {
	letter-spacing: 0.0051em;
}

.ie .stl_362 {
	letter-spacing: 0.0673px;
}
.stl_363 {
	letter-spacing: -0.013em;
}

.ie .stl_363 {
	letter-spacing: -0.1727px;
}
.stl_364 {
	letter-spacing: 0.002em;
}

.ie .stl_364 {
	letter-spacing: 0.0266px;
}
.stl_365 {
	letter-spacing: 0.0024em;
}

.ie .stl_365 {
	letter-spacing: 0.0321px;
}
.stl_366 {
	letter-spacing: -0.021em;
}

.ie .stl_366 {
	letter-spacing: -0.279px;
}
.stl_367 {
	letter-spacing: -0.0131em;
}

.ie .stl_367 {
	letter-spacing: -0.1743px;
}
.stl_368 {
	letter-spacing: 0.0141em;
}

.ie .stl_368 {
	letter-spacing: 0.1873px;
}
.stl_369 {
	letter-spacing: 0.0163em;
}

.ie .stl_369 {
	letter-spacing: 0.217px;
}
.stl_370 {
	letter-spacing: 0.0391em;
}

.ie .stl_370 {
	letter-spacing: 0.52px;
}
.stl_371 {
	letter-spacing: 0.0059em;
}

.ie .stl_371 {
	letter-spacing: 0.0785px;
}
.stl_372 {
	letter-spacing: -0.0998em;
}

.ie .stl_372 {
	letter-spacing: -1.3251px;
}
.stl_373 {
	letter-spacing: -0.4em;
}

.ie .stl_373 {
	letter-spacing: -5.3128px;
}
.stl_374 {
	letter-spacing: 0.0352em;
}

.ie .stl_374 {
	letter-spacing: 0.3273px;
}
.stl_375 {
	letter-spacing: -0.0064em;
}

.ie .stl_375 {
	letter-spacing: -0.0854px;
}
.stl_376 {
	letter-spacing: -0.0086em;
}

.ie .stl_376 {
	letter-spacing: -0.1139px;
}
.stl_377 {
	letter-spacing: 0.129em;
}

.ie .stl_377 {
	letter-spacing: 1.7136px;
}
.stl_378 {
	letter-spacing: 0.1298em;
}

.ie .stl_378 {
	letter-spacing: 1.7242px;
}
.stl_379 {
	letter-spacing: -0.0121em;
}

.ie .stl_379 {
	letter-spacing: -0.1613px;
}
.stl_380 {
	letter-spacing: 0.15em;
}

.ie .stl_380 {
	letter-spacing: 1.9925px;
}
.stl_381 {
	letter-spacing: 0.0723em;
}

.ie .stl_381 {
	letter-spacing: 0.6725px;
}
.stl_382 {
	letter-spacing: -0.035em;
}

.ie .stl_382 {
	letter-spacing: -0.4649px;
}
.stl_383 {
	letter-spacing: 0.0118em;
}

.ie .stl_383 {
	letter-spacing: 0.1574px;
}
.stl_384 {
	letter-spacing: 0.0077em;
}

.ie .stl_384 {
	letter-spacing: 0.1023px;
}
.stl_385 {
	letter-spacing: 0.019em;
}

.ie .stl_385 {
	letter-spacing: 0.2524px;
}
.stl_386 {
	letter-spacing: 0.0145em;
}

.ie .stl_386 {
	letter-spacing: 0.1926px;
}
.stl_387 {
	letter-spacing: -0.0122em;
}

.ie .stl_387 {
	letter-spacing: -0.1624px;
}
.stl_388 {
	letter-spacing: 0.0022em;
}

.ie .stl_388 {
	letter-spacing: 0.0295px;
}
.stl_389 {
	letter-spacing: -0.0192em;
}

.ie .stl_389 {
	letter-spacing: -0.2546px;
}
.stl_390 {
	letter-spacing: -0.0108em;
}

.ie .stl_390 {
	letter-spacing: -0.1439px;
}
.stl_391 {
	letter-spacing: -0.0085em;
}

.ie .stl_391 {
	letter-spacing: -0.1129px;
}
.stl_392 {
	letter-spacing: 0.0032em;
}

.ie .stl_392 {
	letter-spacing: 0.0293px;
}
.stl_393 {
	letter-spacing: 0.0254em;
}

.ie .stl_393 {
	letter-spacing: 0.2366px;
}
.stl_394 {
	letter-spacing: 0.0105em;
}

.ie .stl_394 {
	letter-spacing: 0.1395px;
}
.stl_395 {
	letter-spacing: 0.0186em;
}

.ie .stl_395 {
	letter-spacing: 0.2464px;
}
.stl_396 {
	letter-spacing: 0.0061em;
}

.ie .stl_396 {
	letter-spacing: 0.0808px;
}
.stl_397 {
	letter-spacing: -0.0093em;
}

.ie .stl_397 {
	letter-spacing: -0.123px;
}
.stl_398 {
	letter-spacing: 0.0277em;
}

.ie .stl_398 {
	letter-spacing: 0.3675px;
}
.stl_399 {
	letter-spacing: 0.0386em;
}

.ie .stl_399 {
	letter-spacing: 0.5133px;
}
.stl_400 {
	letter-spacing: 0.0384em;
}

.ie .stl_400 {
	letter-spacing: 0.5106px;
}
.stl_401 {
	letter-spacing: 0.0659em;
}

.ie .stl_401 {
	letter-spacing: 0.8754px;
}
.stl_402 {
	letter-spacing: -0.0135em;
}

.ie .stl_402 {
	letter-spacing: -0.1791px;
}
.stl_403 {
	letter-spacing: -0.0162em;
}

.ie .stl_403 {
	letter-spacing: -0.2149px;
}
.stl_404 {
	font-size: 0.415108em;
	font-family: "LRNDVR+TeXGyreTermesX-Bold", "Times New Roman";
	color: #000000;
}
.stl_405 {
	letter-spacing: 0.138em;
}

.ie .stl_405 {
	letter-spacing: 1.8331px;
}
.stl_406 {
	font-size: 0.830217em;
	font-family: "GRNMPN+TeXGyreTermesX-Regular";
	color: #BF0040;
}
.stl_407 {
	letter-spacing: 0.0506em;
}

.ie .stl_407 {
	letter-spacing: 0.6725px;
}
.stl_408 {
	letter-spacing: 0.0031em;
}

.ie .stl_408 {
	letter-spacing: 0.0408px;
}
.stl_409 {
	letter-spacing: 0.0221em;
}

.ie .stl_409 {
	letter-spacing: 0.2936px;
}
.stl_410 {
	letter-spacing: 0.0316em;
}

.ie .stl_410 {
	letter-spacing: 0.4198px;
}
.stl_411 {
	letter-spacing: 0.0326em;
}

.ie .stl_411 {
	letter-spacing: 0.4331px;
}
.stl_412 {
	letter-spacing: 0.1384em;
}

.ie .stl_412 {
	letter-spacing: 1.8384px;
}
.stl_413 {
	letter-spacing: -0.012em;
}

.ie .stl_413 {
	letter-spacing: -0.1594px;
}
.stl_414 {
	letter-spacing: -0.0139em;
}

.ie .stl_414 {
	letter-spacing: -0.1845px;
}
.stl_415 {
	letter-spacing: -0.0145em;
}

.ie .stl_415 {
	letter-spacing: -0.1932px;
}
.stl_416 {
	letter-spacing: 0.023em;
}

.ie .stl_416 {
	letter-spacing: 0.3055px;
}
.stl_417 {
	letter-spacing: 0.0228em;
}

.ie .stl_417 {
	letter-spacing: 0.3032px;
}
.stl_418 {
	letter-spacing: 0.0138em;
}

.ie .stl_418 {
	letter-spacing: 0.1837px;
}
.stl_419 {
	letter-spacing: 0.0114em;
}

.ie .stl_419 {
	letter-spacing: 0.1508px;
}
.stl_420 {
	letter-spacing: 0.0291em;
}

.ie .stl_420 {
	letter-spacing: 0.3868px;
}
.stl_421 {
	letter-spacing: 0.0295em;
}

.ie .stl_421 {
	letter-spacing: 0.3913px;
}
.stl_422 {
	letter-spacing: 0.0292em;
}

.ie .stl_422 {
	letter-spacing: 0.3874px;
}
.stl_423 {
	letter-spacing: 0.11em;
}

.ie .stl_423 {
	letter-spacing: 1.4612px;
}
.stl_424 {
	letter-spacing: 0.0155em;
}

.ie .stl_424 {
	letter-spacing: 0.2054px;
}
.stl_425 {
	letter-spacing: 0.0207em;
}

.ie .stl_425 {
	letter-spacing: 0.2752px;
}
.stl_426 {
	letter-spacing: 0.0193em;
}

.ie .stl_426 {
	letter-spacing: 0.2568px;
}
.stl_427 {
	letter-spacing: 0.0338em;
}

.ie .stl_427 {
	letter-spacing: 0.4487px;
}
.stl_428 {
	letter-spacing: 0.0206em;
}

.ie .stl_428 {
	letter-spacing: 0.2742px;
}
.stl_429 {
	letter-spacing: -0.0134em;
}

.ie .stl_429 {
	letter-spacing: -0.1781px;
}
.stl_430 {
	letter-spacing: -0.0098em;
}

.ie .stl_430 {
	letter-spacing: -0.13px;
}
.stl_431 {
	letter-spacing: 0.0093em;
}

.ie .stl_431 {
	letter-spacing: 0.1232px;
}
.stl_432 {
	letter-spacing: 0.0107em;
}

.ie .stl_432 {
	letter-spacing: 0.1425px;
}
.stl_433 {
	letter-spacing: 0.0064em;
}

.ie .stl_433 {
	letter-spacing: 0.0844px;
}
.stl_434 {
	letter-spacing: 0.0119em;
}

.ie .stl_434 {
	letter-spacing: 0.1581px;
}
.stl_435 {
	letter-spacing: 0.0062em;
}

.ie .stl_435 {
	letter-spacing: 0.082px;
}
@font-face {
	font-family:"AJNINN+CMR8";
	src:url("5b4fafef-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_436 {
	font-size: 0.664175em;
	font-family: "AJNINN+CMR8", "Times New Roman";
	color: #000000;
}
.stl_437 {
	letter-spacing: 0.0154em;
}

.ie .stl_437 {
	letter-spacing: 0.2042px;
}
@font-face {
	font-family:"GQIKKJ+CMMI9";
	src:url("65594e8a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_438 {
	font-size: 0.7472em;
	font-family: "GQIKKJ+CMMI9", "Times New Roman";
	color: #000000;
}
.stl_439 {
	letter-spacing: 0.1432em;
}

.ie .stl_439 {
	letter-spacing: 1.712px;
}
.stl_440 {
	letter-spacing: 0.0167em;
}

.ie .stl_440 {
	letter-spacing: 0.1997px;
}
@font-face {
	font-family:"FLPROO+CMR9";
	src:url("1f26242c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_441 {
	font-size: 0.7472em;
	font-family: "FLPROO+CMR9", "Times New Roman";
	color: #000000;
}
.stl_442 {
	letter-spacing: 0.1089em;
}

.ie .stl_442 {
	letter-spacing: 1.3019px;
}
.stl_443 {
	letter-spacing: 0.0272em;
}

.ie .stl_443 {
	letter-spacing: 0.3613px;
}
.stl_444 {
	letter-spacing: 0.1101em;
}

.ie .stl_444 {
	letter-spacing: 1.4625px;
}
@font-face {
	font-family:"HKAHIB+CMMI8";
	src:url("49ecb373-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_445 {
	font-size: 0.664175em;
	font-family: "HKAHIB+CMMI8", "Times New Roman";
	color: #000000;
}
.stl_446 {
	letter-spacing: 0.1098em;
}

.ie .stl_446 {
	letter-spacing: 1.3127px;
}
.stl_447 {
	letter-spacing: 0.0158em;
}

.ie .stl_447 {
	letter-spacing: 0.1888px;
}
