sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"JVLMLT+TeXGyreTermesX-Regular";
	src:url("0723d979-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.909092em;
	font-family: "JVLMLT+TeXGyreTermesX-Regular";
	color: #000000;
}
.stl_08 {
	line-height: 1.336em;
}
.stl_09 {
	letter-spacing: -0.0011em;
}

.ie .stl_09 {
	letter-spacing: -0.0164px;
}
.stl_10 {
	letter-spacing: -0.003em;
}

.ie .stl_10 {
	letter-spacing: -0.0438px;
}
.stl_11 {
	letter-spacing: -0.0034em;
}

.ie .stl_11 {
	letter-spacing: -0.0491px;
}
.stl_12 {
	letter-spacing: -0.0008em;
}

.ie .stl_12 {
	letter-spacing: -0.0109px;
}
.stl_13 {
	letter-spacing: 0.0004em;
}

.ie .stl_13 {
	letter-spacing: 0.0052px;
}
.stl_14 {
	letter-spacing: -0.0012em;
}

.ie .stl_14 {
	letter-spacing: -0.0182px;
}
@font-face {
	font-family:"CDJPVS+TeXGyreTermes-Regular";
	src:url("7afe9513-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.909092em;
	font-family: "CDJPVS+TeXGyreTermes-Regular", "Times New Roman";
	color: #000000;
}
.stl_16 {
	letter-spacing: 0em;
}

.ie .stl_16 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"JUKWRH+TeXGyreTermesX-Italic";
	src:url("6f60fbf1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.909092em;
	font-family: "JUKWRH+TeXGyreTermesX-Italic", "Times New Roman";
	color: #000000;
}
.stl_18 {
	line-height: 1.375em;
}
.stl_19 {
	letter-spacing: -0.002em;
}

.ie .stl_19 {
	letter-spacing: -0.0291px;
}
@font-face {
	font-family:"CAIWFK+TeXGyreTermesX-Bold";
	src:url("649781e7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 1.434617em;
	font-family: "CAIWFK+TeXGyreTermesX-Bold", "Times New Roman";
	color: #3C71B7;
}
.stl_21 {
	line-height: 1.459em;
}
.stl_22 {
	font-size: 0.909092em;
	font-family: "CAIWFK+TeXGyreTermesX-Bold", "Times New Roman";
	color: #000000;
}
.stl_23 {
	letter-spacing: -0.0017em;
}

.ie .stl_23 {
	letter-spacing: -0.0242px;
}
.stl_24 {
	letter-spacing: -0.0115em;
}

.ie .stl_24 {
	letter-spacing: -0.1668px;
}
.stl_25 {
	letter-spacing: -0.0087em;
}

.ie .stl_25 {
	letter-spacing: -0.1261px;
}
.stl_26 {
	letter-spacing: -0.0128em;
}

.ie .stl_26 {
	letter-spacing: -0.1859px;
}
.stl_27 {
	letter-spacing: -0.01em;
}

.ie .stl_27 {
	letter-spacing: -0.1455px;
}
.stl_28 {
	letter-spacing: -0.0104em;
}

.ie .stl_28 {
	letter-spacing: -0.1515px;
}
.stl_29 {
	letter-spacing: -0.0069em;
}

.ie .stl_29 {
	letter-spacing: -0.1007px;
}
.stl_30 {
	letter-spacing: -0.0005em;
}

.ie .stl_30 {
	letter-spacing: -0.0077px;
}
.stl_31 {
	letter-spacing: -0.0019em;
}

.ie .stl_31 {
	letter-spacing: -0.0269px;
}
.stl_32 {
	letter-spacing: -0.0028em;
}

.ie .stl_32 {
	letter-spacing: -0.0412px;
}
.stl_33 {
	letter-spacing: -0.0031em;
}

.ie .stl_33 {
	letter-spacing: -0.0455px;
}
.stl_34 {
	letter-spacing: -0.0004em;
}

.ie .stl_34 {
	letter-spacing: -0.0063px;
}
.stl_35 {
	letter-spacing: -0.0043em;
}

.ie .stl_35 {
	letter-spacing: -0.0632px;
}
.stl_36 {
	letter-spacing: -0.0065em;
}

.ie .stl_36 {
	letter-spacing: -0.0949px;
}
.stl_37 {
	letter-spacing: -0.0006em;
}

.ie .stl_37 {
	letter-spacing: -0.0091px;
}
.stl_38 {
	letter-spacing: -0.0041em;
}

.ie .stl_38 {
	letter-spacing: -0.0595px;
}
@font-face {
	font-family:"VQWEOE+CMR10";
	src:url("2941c94d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.909092em;
	font-family: "VQWEOE+CMR10", "Times New Roman";
	color: #000000;
}
.stl_40 {
	line-height: 1em;
}
.stl_41 {
	letter-spacing: 0.0001em;
}

.ie .stl_41 {
	letter-spacing: 0.0022px;
}
.stl_42 {
	font-size: 0.909092em;
	font-family: "JVLMLT+TeXGyreTermesX-Regular";
	color: #3C71B7;
}
.stl_43 {
	letter-spacing: 0.0003em;
}

.ie .stl_43 {
	letter-spacing: 0.0044px;
}
@font-face {
	font-family:"QJWAWE+CMSY10";
	src:url("f4459cfc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.909092em;
	font-family: "QJWAWE+CMSY10", "Times New Roman";
	color: #000000;
}
.stl_45 {
	line-height: 1.735em;
}
@font-face {
	font-family:"NUICUK+CMMI10";
	src:url("6b7767e7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	font-size: 0.909092em;
	font-family: "NUICUK+CMMI10", "Times New Roman";
	color: #000000;
}
.stl_47 {
	letter-spacing: 0.0008em;
}

.ie .stl_47 {
	letter-spacing: 0.0116px;
}
@font-face {
	font-family:"IOEUVO+CMEX10";
	src:url("2d3760d3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_48 {
	font-size: 0.909092em;
	font-family: "IOEUVO+CMEX10";
	color: #000000;
}
.stl_49 {
	line-height: 3.732em;
}
.stl_50 {
	font-size: 0.833333em;
	font-family: "Times New Roman";
	color: #000000;
}
.stl_51 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"RLNJGR+CMR8";
	src:url("3d36f099-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_52 {
	font-size: 0.79701em;
	font-family: "RLNJGR+CMR8", "Times New Roman";
	color: #000000;
}
.stl_53 {
	letter-spacing: 0.0627em;
}

.ie .stl_53 {
	letter-spacing: 0.6665px;
}
.stl_54 {
	letter-spacing: 0.0458em;
}

.ie .stl_54 {
	letter-spacing: 0.6665px;
}
.stl_55 {
	letter-spacing: 0.0002em;
}

.ie .stl_55 {
	letter-spacing: 0.0034px;
}
.stl_56 {
	letter-spacing: 0.0009em;
}

.ie .stl_56 {
	letter-spacing: 0.0131px;
}
.stl_57 {
	letter-spacing: 0.0006em;
}

.ie .stl_57 {
	letter-spacing: 0.0091px;
}
.stl_58 {
	font-size: 0.664175em;
	font-family: "RLNJGR+CMR8", "Times New Roman";
	color: #000000;
}
.stl_59 {
	letter-spacing: 0.0628em;
}

.ie .stl_59 {
	letter-spacing: 0.6678px;
}
.stl_60 {
	letter-spacing: 0.0459em;
}

.ie .stl_60 {
	letter-spacing: 0.6678px;
}
.stl_61 {
	font-size: 0.830217em;
	font-family: "JVLMLT+TeXGyreTermesX-Regular";
	color: #3C71B7;
}
.stl_62 {
	letter-spacing: -0.0037em;
}

.ie .stl_62 {
	letter-spacing: -0.0531px;
}
.stl_63 {
	letter-spacing: -0.0038em;
}

.ie .stl_63 {
	letter-spacing: -0.0553px;
}
.stl_64 {
	letter-spacing: -0.0033em;
}

.ie .stl_64 {
	letter-spacing: -0.0485px;
}
.stl_65 {
	letter-spacing: -0.005em;
}

.ie .stl_65 {
	letter-spacing: -0.0727px;
}
.stl_66 {
	letter-spacing: -0.006em;
}

.ie .stl_66 {
	letter-spacing: -0.0873px;
}
.stl_67 {
	letter-spacing: -0.0016em;
}

.ie .stl_67 {
	letter-spacing: -0.0231px;
}
.stl_68 {
	letter-spacing: -0.0022em;
}

.ie .stl_68 {
	letter-spacing: -0.0316px;
}
.stl_69 {
	letter-spacing: -0.0167em;
}

.ie .stl_69 {
	letter-spacing: -0.2424px;
}
.stl_70 {
	letter-spacing: -0.0225em;
}

.ie .stl_70 {
	letter-spacing: -0.3273px;
}
.stl_71 {
	letter-spacing: -0.0002em;
}

.ie .stl_71 {
	letter-spacing: -0.0029px;
}
.stl_72 {
	letter-spacing: -0.0036em;
}

.ie .stl_72 {
	letter-spacing: -0.0529px;
}
.stl_73 {
	letter-spacing: -0.0009em;
}

.ie .stl_73 {
	letter-spacing: -0.0135px;
}
.stl_74 {
	letter-spacing: -0.0075em;
}

.ie .stl_74 {
	letter-spacing: -0.1091px;
}
.stl_75 {
	letter-spacing: -0.0083em;
}

.ie .stl_75 {
	letter-spacing: -0.1212px;
}
.stl_76 {
	letter-spacing: -0.0029em;
}

.ie .stl_76 {
	letter-spacing: -0.0416px;
}
.stl_77 {
	letter-spacing: -0.0129em;
}

.ie .stl_77 {
	letter-spacing: -0.187px;
}
.stl_78 {
	letter-spacing: -0.0001em;
}

.ie .stl_78 {
	letter-spacing: -0.0013px;
}
.stl_79 {
	letter-spacing: -0.0056em;
}

.ie .stl_79 {
	letter-spacing: -0.0808px;
}
.stl_80 {
	letter-spacing: -0.008em;
}

.ie .stl_80 {
	letter-spacing: -0.1164px;
}
.stl_81 {
	letter-spacing: 0.0007em;
}

.ie .stl_81 {
	letter-spacing: 0.0109px;
}
.stl_82 {
	letter-spacing: 0.0013em;
}

.ie .stl_82 {
	letter-spacing: 0.0136px;
}
.stl_83 {
	letter-spacing: 0.0005em;
}

.ie .stl_83 {
	letter-spacing: 0.0068px;
}
.stl_84 {
	letter-spacing: -0.0089em;
}

.ie .stl_84 {
	letter-spacing: -0.1301px;
}
.stl_85 {
	letter-spacing: -0.0013em;
}

.ie .stl_85 {
	letter-spacing: -0.0194px;
}
.stl_86 {
	letter-spacing: -0.0137em;
}

.ie .stl_86 {
	letter-spacing: -0.1993px;
}
.stl_87 {
	letter-spacing: 0.0058em;
}

.ie .stl_87 {
	letter-spacing: 0.0844px;
}
.stl_88 {
	letter-spacing: -0.0044em;
}

.ie .stl_88 {
	letter-spacing: -0.0636px;
}
.stl_89 {
	letter-spacing: -0.0015em;
}

.ie .stl_89 {
	letter-spacing: -0.0214px;
}
.stl_90 {
	letter-spacing: -0.0032em;
}

.ie .stl_90 {
	letter-spacing: -0.0463px;
}
.stl_91 {
	letter-spacing: -0.0058em;
}

.ie .stl_91 {
	letter-spacing: -0.0848px;
}
.stl_92 {
	letter-spacing: -0.0062em;
}

.ie .stl_92 {
	letter-spacing: -0.0909px;
}
.stl_93 {
	letter-spacing: -0.0042em;
}

.ie .stl_93 {
	letter-spacing: -0.0611px;
}
.stl_94 {
	letter-spacing: -0.0039em;
}

.ie .stl_94 {
	letter-spacing: -0.0571px;
}
.stl_95 {
	letter-spacing: -0.0067em;
}

.ie .stl_95 {
	letter-spacing: -0.097px;
}
.stl_96 {
	letter-spacing: -0.0183em;
}

.ie .stl_96 {
	letter-spacing: -0.2667px;
}
.stl_97 {
	letter-spacing: 0.0315em;
}

.ie .stl_97 {
	letter-spacing: 0.3352px;
}
.stl_98 {
	letter-spacing: 0.023em;
}

.ie .stl_98 {
	letter-spacing: 0.3352px;
}
.stl_99 {
	letter-spacing: -0.0003em;
}

.ie .stl_99 {
	letter-spacing: -0.0037px;
}
.stl_100 {
	letter-spacing: -0.0055em;
}

.ie .stl_100 {
	letter-spacing: -0.08px;
}
.stl_101 {
	letter-spacing: -0.0025em;
}

.ie .stl_101 {
	letter-spacing: -0.0364px;
}
.stl_102 {
	letter-spacing: -0.0092em;
}

.ie .stl_102 {
	letter-spacing: -0.1333px;
}
.stl_103 {
	letter-spacing: -0.0074em;
}

.ie .stl_103 {
	letter-spacing: -0.1072px;
}
.stl_104 {
	letter-spacing: -0.06em;
}

.ie .stl_104 {
	letter-spacing: -0.8727px;
}
.stl_105 {
	letter-spacing: -0.0027em;
}

.ie .stl_105 {
	letter-spacing: -0.0393px;
}
.stl_106 {
	letter-spacing: -0.0175em;
}

.ie .stl_106 {
	letter-spacing: -0.2545px;
}
.stl_107 {
	letter-spacing: -0.1662em;
}

.ie .stl_107 {
	letter-spacing: -2.4175px;
}
.stl_108 {
	letter-spacing: -0.0052em;
}

.ie .stl_108 {
	letter-spacing: -0.0751px;
}
.stl_109 {
	letter-spacing: -0.0018em;
}

.ie .stl_109 {
	letter-spacing: -0.0264px;
}
.stl_110 {
	letter-spacing: -0.015em;
}

.ie .stl_110 {
	letter-spacing: -0.2182px;
}
.stl_111 {
	letter-spacing: -0.001em;
}

.ie .stl_111 {
	letter-spacing: -0.0145px;
}
.stl_112 {
	letter-spacing: -0.0047em;
}

.ie .stl_112 {
	letter-spacing: -0.0682px;
}
.stl_113 {
	letter-spacing: -0.0073em;
}

.ie .stl_113 {
	letter-spacing: -0.1067px;
}
.stl_114 {
	letter-spacing: -0.004em;
}

.ie .stl_114 {
	letter-spacing: -0.0582px;
}
.stl_115 {
	letter-spacing: 0.0284em;
}

.ie .stl_115 {
	letter-spacing: 0.4129px;
}
.stl_116 {
	letter-spacing: -0.0053em;
}

.ie .stl_116 {
	letter-spacing: -0.0773px;
}
.stl_117 {
	letter-spacing: -0.0061em;
}

.ie .stl_117 {
	letter-spacing: -0.0883px;
}
.stl_118 {
	letter-spacing: -0.0026em;
}

.ie .stl_118 {
	letter-spacing: -0.0377px;
}
.stl_119 {
	letter-spacing: -0.0045em;
}

.ie .stl_119 {
	letter-spacing: -0.0652px;
}
@font-face {
	font-family:"OUMSUF+CMSY8";
	src:url("ad15d454-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_120 {
	font-size: 0.79701em;
	font-family: "OUMSUF+CMSY8", "Times New Roman";
	color: #000000;
}
.stl_121 {
	line-height: 1.734em;
}
.stl_122 {
	letter-spacing: -0.0081em;
}

.ie .stl_122 {
	letter-spacing: -0.1182px;
}
@font-face {
	font-family:"FAAVFW+CMMI8";
	src:url("4c4d75ae-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_123 {
	font-size: 0.79701em;
	font-family: "FAAVFW+CMMI8", "Times New Roman";
	color: #000000;
}
.stl_124 {
	letter-spacing: -0.0046em;
}

.ie .stl_124 {
	letter-spacing: -0.0671px;
}
.stl_125 {
	letter-spacing: -0.0021em;
}

.ie .stl_125 {
	letter-spacing: -0.0299px;
}
.stl_126 {
	letter-spacing: -0.1652em;
}

.ie .stl_126 {
	letter-spacing: -2.4029px;
}
.stl_127 {
	letter-spacing: -0.0007em;
}

.ie .stl_127 {
	letter-spacing: -0.0104px;
}
.stl_128 {
	letter-spacing: 0.0132em;
}

.ie .stl_128 {
	letter-spacing: 0.1922px;
}
.stl_129 {
	letter-spacing: -0.0023em;
}

.ie .stl_129 {
	letter-spacing: -0.0333px;
}
.stl_130 {
	letter-spacing: 0.0232em;
}

.ie .stl_130 {
	letter-spacing: 0.3378px;
}
.stl_131 {
	letter-spacing: 0.0403em;
}

.ie .stl_131 {
	letter-spacing: 0.5862px;
}
.stl_132 {
	letter-spacing: 0.001em;
}

.ie .stl_132 {
	letter-spacing: 0.0149px;
}
.stl_133 {
	letter-spacing: 0.0014em;
}

.ie .stl_133 {
	letter-spacing: 0.0149px;
}
.stl_134 {
	letter-spacing: 0.0039em;
}

.ie .stl_134 {
	letter-spacing: 0.0575px;
}
.stl_135 {
	letter-spacing: 0.0508em;
}

.ie .stl_135 {
	letter-spacing: 0.7382px;
}
.stl_136 {
	letter-spacing: 0.0309em;
}

.ie .stl_136 {
	letter-spacing: 0.4495px;
}
.stl_137 {
	letter-spacing: 0.0023em;
}

.ie .stl_137 {
	letter-spacing: 0.0339px;
}
.stl_138 {
	letter-spacing: 0.006em;
}

.ie .stl_138 {
	letter-spacing: 0.087px;
}
@font-face {
	font-family:"PADTSW+LINE10";
	src:url("bbe03628-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_139 {
	font-size: 0.830217em;
	font-family: "PADTSW+LINE10", "Times New Roman";
	color: #000000;
}
.stl_140 {
	line-height: 1.17em;
}
.stl_141 {
	letter-spacing: 0.0011em;
}

.ie .stl_141 {
	letter-spacing: 0.0159px;
}
.stl_142 {
	letter-spacing: 0.0288em;
}

.ie .stl_142 {
	letter-spacing: 0.4189px;
}
.stl_143 {
	font-size: 0.99626em;
	font-family: "PADTSW+LINE10", "Times New Roman";
	color: #000000;
}
.stl_144 {
	letter-spacing: -0.9021em;
}

.ie .stl_144 {
	letter-spacing: -11.9834px;
}
.stl_145 {
	letter-spacing: 0.0469em;
}

.ie .stl_145 {
	letter-spacing: 0.6821px;
}
.stl_146 {
	letter-spacing: -0.2599em;
}

.ie .stl_146 {
	letter-spacing: -3.4521px;
}
.stl_147 {
	letter-spacing: -0.0048em;
}

.ie .stl_147 {
	letter-spacing: -0.0704px;
}
.stl_148 {
	letter-spacing: -0.0035em;
}

.ie .stl_148 {
	letter-spacing: -0.0512px;
}
.stl_149 {
	letter-spacing: 0.0131em;
}

.ie .stl_149 {
	letter-spacing: 0.1898px;
}
.stl_150 {
	letter-spacing: -0.105em;
}

.ie .stl_150 {
	letter-spacing: -1.5273px;
}
.stl_151 {
	letter-spacing: -0.02em;
}

.ie .stl_151 {
	letter-spacing: -0.2909px;
}
.stl_152 {
	letter-spacing: 0.0188em;
}

.ie .stl_152 {
	letter-spacing: 0.2735px;
}
.stl_153 {
	letter-spacing: 0.0103em;
}

.ie .stl_153 {
	letter-spacing: 0.1498px;
}
.stl_154 {
	letter-spacing: -0.0024em;
}

.ie .stl_154 {
	letter-spacing: -0.0351px;
}
.stl_155 {
	letter-spacing: -0.0014em;
}

.ie .stl_155 {
	letter-spacing: -0.0202px;
}
.stl_156 {
	letter-spacing: 0.0042em;
}

.ie .stl_156 {
	letter-spacing: 0.0606px;
}
.stl_157 {
	letter-spacing: -0.09em;
}

.ie .stl_157 {
	letter-spacing: -1.3091px;
}
.stl_158 {
	letter-spacing: -0.0082em;
}

.ie .stl_158 {
	letter-spacing: -0.119px;
}
.stl_159 {
	letter-spacing: -0.0117em;
}

.ie .stl_159 {
	letter-spacing: -0.1697px;
}
.stl_160 {
	letter-spacing: -0.0086em;
}

.ie .stl_160 {
	letter-spacing: -0.1247px;
}
.stl_161 {
	letter-spacing: -0.0125em;
}

.ie .stl_161 {
	letter-spacing: -0.1818px;
}
.stl_162 {
	letter-spacing: -0.0233em;
}

.ie .stl_162 {
	letter-spacing: -0.3394px;
}
.stl_163 {
	font-size: 0.79701em;
	font-family: "JVLMLT+TeXGyreTermesX-Regular";
	color: #000000;
}
.stl_164 {
	letter-spacing: -0.0088em;
}

.ie .stl_164 {
	letter-spacing: -0.1273px;
}
.stl_165 {
	letter-spacing: -0.095em;
}

.ie .stl_165 {
	letter-spacing: -1.3818px;
}
.stl_166 {
	letter-spacing: -0.0111em;
}

.ie .stl_166 {
	letter-spacing: -0.1616px;
}
.stl_167 {
	letter-spacing: -0.007em;
}

.ie .stl_167 {
	letter-spacing: -0.1018px;
}
.stl_168 {
	letter-spacing: -0.9em;
}

.ie .stl_168 {
	letter-spacing: -11.9555px;
}
.stl_169 {
	letter-spacing: 0.0125em;
}

.ie .stl_169 {
	letter-spacing: 0.1813px;
}
.stl_170 {
	letter-spacing: 0.0204em;
}

.ie .stl_170 {
	letter-spacing: 0.2967px;
}
.stl_171 {
	letter-spacing: -0.0155em;
}

.ie .stl_171 {
	letter-spacing: -0.225px;
}
.stl_172 {
	letter-spacing: 0.0072em;
}

.ie .stl_172 {
	letter-spacing: 0.104px;
}
.stl_173 {
	letter-spacing: -0.0094em;
}

.ie .stl_173 {
	letter-spacing: -0.1364px;
}
.stl_174 {
	letter-spacing: -0.0113em;
}

.ie .stl_174 {
	letter-spacing: -0.1636px;
}
.stl_175 {
	letter-spacing: -0.0076em;
}

.ie .stl_175 {
	letter-spacing: -0.1107px;
}
.stl_176 {
	letter-spacing: -0.018em;
}

.ie .stl_176 {
	letter-spacing: -0.2618px;
}
.stl_177 {
	letter-spacing: -0.0107em;
}

.ie .stl_177 {
	letter-spacing: -0.1558px;
}
.stl_178 {
	letter-spacing: -0.0051em;
}

.ie .stl_178 {
	letter-spacing: -0.0748px;
}
.stl_179 {
	letter-spacing: 0.0048em;
}

.ie .stl_179 {
	letter-spacing: 0.0693px;
}
.stl_180 {
	letter-spacing: -0.0071em;
}

.ie .stl_180 {
	letter-spacing: -0.1037px;
}
.stl_181 {
	letter-spacing: 0.0126em;
}

.ie .stl_181 {
	letter-spacing: 0.1838px;
}
.stl_182 {
	letter-spacing: 0.0318em;
}

.ie .stl_182 {
	letter-spacing: 0.4628px;
}
.stl_183 {
	letter-spacing: 0.036em;
}

.ie .stl_183 {
	letter-spacing: 0.5236px;
}
.stl_184 {
	letter-spacing: 0.0322em;
}

.ie .stl_184 {
	letter-spacing: 0.4682px;
}
@font-face {
	font-family:"ERRHTI+CMR6";
	src:url("87d3a78f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_185 {
	font-size: 0.59776em;
	font-family: "ERRHTI+CMR6", "Times New Roman";
	color: #000000;
}
.stl_186 {
	font-size: 0.664175em;
	font-family: "JVLMLT+TeXGyreTermesX-Regular";
	color: #000000;
}
.stl_187 {
	letter-spacing: 0.0319em;
}

.ie .stl_187 {
	letter-spacing: 0.4645px;
}
.stl_188 {
	letter-spacing: 0.0437em;
}

.ie .stl_188 {
	letter-spacing: 0.4645px;
}
.stl_189 {
	letter-spacing: -0.009em;
}

.ie .stl_189 {
	letter-spacing: -0.1309px;
}
.stl_190 {
	font-size: 0.498133em;
	font-family: "JVLMLT+TeXGyreTermesX-Regular";
	color: #000000;
}
.stl_191 {
	letter-spacing: -0.016em;
}

.ie .stl_191 {
	letter-spacing: -0.1275px;
}
.stl_192 {
	letter-spacing: -0.0267em;
}

.ie .stl_192 {
	letter-spacing: -0.2125px;
}
.stl_193 {
	letter-spacing: -0.0123em;
}

.ie .stl_193 {
	letter-spacing: -0.179px;
}
.stl_194 {
	letter-spacing: 0.1076em;
}

.ie .stl_194 {
	letter-spacing: 1.5651px;
}
.stl_195 {
	letter-spacing: 0.1086em;
}

.ie .stl_195 {
	letter-spacing: 1.5797px;
}
.stl_196 {
	letter-spacing: -0.0133em;
}

.ie .stl_196 {
	letter-spacing: -0.1939px;
}
.stl_197 {
	letter-spacing: 0.0096em;
}

.ie .stl_197 {
	letter-spacing: 0.1402px;
}
.stl_198 {
	letter-spacing: 0.017em;
}

.ie .stl_198 {
	letter-spacing: 0.2465px;
}
.stl_199 {
	letter-spacing: 0.0075em;
}

.ie .stl_199 {
	letter-spacing: 0.1084px;
}
.stl_200 {
	letter-spacing: 0.025em;
}

.ie .stl_200 {
	letter-spacing: 0.3641px;
}
.stl_201 {
	letter-spacing: 0.029em;
}

.ie .stl_201 {
	letter-spacing: 0.4211px;
}
.stl_202 {
	letter-spacing: 0.0286em;
}

.ie .stl_202 {
	letter-spacing: 0.4161px;
}
.stl_203 {
	letter-spacing: 0.0285em;
}

.ie .stl_203 {
	letter-spacing: 0.4151px;
}
.stl_204 {
	font-size: 0.830217em;
	font-family: "JVLMLT+TeXGyreTermesX-Regular";
	color: #000000;
}
.stl_205 {
	font-size: 0.498133em;
	font-family: "ERRHTI+CMR6", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"FBKGBP+CMMI6";
	src:url("f11836a4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_206 {
	font-size: 0.498133em;
	font-family: "FBKGBP+CMMI6", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"TPCAUN+CMSY6";
	src:url("9ea78805-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_207 {
	font-size: 0.498133em;
	font-family: "TPCAUN+CMSY6", "Times New Roman";
	color: #000000;
}
.stl_208 {
	letter-spacing: -0.0275em;
}

.ie .stl_208 {
	letter-spacing: -0.4px;
}
.stl_209 {
	letter-spacing: 0.0054em;
}

.ie .stl_209 {
	letter-spacing: 0.0785px;
}
.stl_210 {
	letter-spacing: 0.0287em;
}

.ie .stl_210 {
	letter-spacing: 0.4176px;
}
.stl_211 {
	letter-spacing: 0.0106em;
}

.ie .stl_211 {
	letter-spacing: 0.1536px;
}
.stl_212 {
	letter-spacing: 0.0043em;
}

.ie .stl_212 {
	letter-spacing: 0.063px;
}
.stl_213 {
	letter-spacing: 0.0074em;
}

.ie .stl_213 {
	letter-spacing: 0.0782px;
}
.stl_214 {
	letter-spacing: 0.0045em;
}

.ie .stl_214 {
	letter-spacing: 0.0648px;
}
.stl_215 {
	letter-spacing: 0.0988em;
}

.ie .stl_215 {
	letter-spacing: 1.4371px;
}
.stl_216 {
	letter-spacing: 0.0289em;
}

.ie .stl_216 {
	letter-spacing: 0.4211px;
}
.stl_217 {
	letter-spacing: 0.1394em;
}

.ie .stl_217 {
	letter-spacing: 2.0276px;
}
.stl_218 {
	letter-spacing: 0.0098em;
}

.ie .stl_218 {
	letter-spacing: 0.1418px;
}
.stl_219 {
	letter-spacing: 0.1091em;
}

.ie .stl_219 {
	letter-spacing: 1.5869px;
}
.stl_220 {
	letter-spacing: -0.0144em;
}

.ie .stl_220 {
	letter-spacing: -0.2101px;
}
.stl_221 {
	letter-spacing: 0.035em;
}

.ie .stl_221 {
	letter-spacing: 0.5091px;
}
.stl_222 {
	letter-spacing: 0.0012em;
}

.ie .stl_222 {
	letter-spacing: 0.0123px;
}
.stl_223 {
	letter-spacing: -0.0057em;
}

.ie .stl_223 {
	letter-spacing: -0.0824px;
}
.stl_224 {
	letter-spacing: 0.1123em;
}

.ie .stl_224 {
	letter-spacing: 1.6335px;
}
.stl_225 {
	letter-spacing: -0.056em;
}

.ie .stl_225 {
	letter-spacing: -0.8145px;
}
.stl_226 {
	letter-spacing: 0.0255em;
}

.ie .stl_226 {
	letter-spacing: 0.3716px;
}
.stl_227 {
	letter-spacing: -0.0098em;
}

.ie .stl_227 {
	letter-spacing: -0.1421px;
}
.stl_228 {
	font-size: 0.664175em;
	font-family: "FAAVFW+CMMI8", "Times New Roman";
	color: #000000;
}
.stl_229 {
	letter-spacing: 0.1104em;
}

.ie .stl_229 {
	letter-spacing: 1.1732px;
}
.stl_230 {
	letter-spacing: -1em;
}

.ie .stl_230 {
	letter-spacing: -13.2835px;
}
.stl_231 {
	letter-spacing: 0.0199em;
}

.ie .stl_231 {
	letter-spacing: 0.2902px;
}
.stl_232 {
	letter-spacing: 0.0073em;
}

.ie .stl_232 {
	letter-spacing: 0.1058px;
}
.stl_233 {
	letter-spacing: 0.0112em;
}

.ie .stl_233 {
	letter-spacing: 0.1627px;
}
.stl_234 {
	letter-spacing: 0.0078em;
}

.ie .stl_234 {
	letter-spacing: 0.1132px;
}
.stl_235 {
	letter-spacing: -0.0068em;
}

.ie .stl_235 {
	letter-spacing: -0.0992px;
}
.stl_236 {
	letter-spacing: 0.0116em;
}

.ie .stl_236 {
	letter-spacing: 0.1684px;
}
.stl_237 {
	letter-spacing: 0.0186em;
}

.ie .stl_237 {
	letter-spacing: 0.2698px;
}
.stl_238 {
	letter-spacing: 0.0143em;
}

.ie .stl_238 {
	letter-spacing: 0.2084px;
}
.stl_239 {
	letter-spacing: 0.0057em;
}

.ie .stl_239 {
	letter-spacing: 0.0824px;
}
.stl_240 {
	letter-spacing: 0.0089em;
}

.ie .stl_240 {
	letter-spacing: 0.1294px;
}
.stl_241 {
	letter-spacing: 0.013em;
}

.ie .stl_241 {
	letter-spacing: 0.1898px;
}
.stl_242 {
	letter-spacing: 0.128em;
}

.ie .stl_242 {
	letter-spacing: 1.8618px;
}
.stl_243 {
	letter-spacing: 0.1298em;
}

.ie .stl_243 {
	letter-spacing: 1.888px;
}
.stl_244 {
	letter-spacing: 0.1288em;
}

.ie .stl_244 {
	letter-spacing: 1.8734px;
}
.stl_245 {
	letter-spacing: 0.129em;
}

.ie .stl_245 {
	letter-spacing: 1.8764px;
}
.stl_246 {
	letter-spacing: 0.0291em;
}

.ie .stl_246 {
	letter-spacing: 0.4229px;
}
.stl_247 {
	letter-spacing: 0.0169em;
}

.ie .stl_247 {
	letter-spacing: 0.2465px;
}
.stl_248 {
	letter-spacing: 0.0279em;
}

.ie .stl_248 {
	letter-spacing: 0.4058px;
}
.stl_249 {
	letter-spacing: 0.0015em;
}

.ie .stl_249 {
	letter-spacing: 0.0224px;
}
.stl_250 {
	letter-spacing: 0.0317em;
}

.ie .stl_250 {
	letter-spacing: 0.461px;
}
.stl_251 {
	letter-spacing: 0.0321em;
}

.ie .stl_251 {
	letter-spacing: 0.4672px;
}
.stl_252 {
	letter-spacing: 0.0084em;
}

.ie .stl_252 {
	letter-spacing: 0.1228px;
}
.stl_253 {
	letter-spacing: 0.0282em;
}

.ie .stl_253 {
	letter-spacing: 0.4095px;
}
.stl_254 {
	letter-spacing: -0.0119em;
}

.ie .stl_254 {
	letter-spacing: -0.1727px;
}
.stl_255 {
	letter-spacing: 0.0183em;
}

.ie .stl_255 {
	letter-spacing: 0.2655px;
}
.stl_256 {
	letter-spacing: -0.0054em;
}

.ie .stl_256 {
	letter-spacing: -0.0783px;
}
.stl_257 {
	letter-spacing: -0.0063em;
}

.ie .stl_257 {
	letter-spacing: -0.0664px;
}
.stl_258 {
	letter-spacing: 0.0182em;
}

.ie .stl_258 {
	letter-spacing: 0.2654px;
}
.stl_259 {
	letter-spacing: 0.1391em;
}

.ie .stl_259 {
	letter-spacing: 2.0233px;
}
.stl_260 {
	letter-spacing: 0.0194em;
}

.ie .stl_260 {
	letter-spacing: 0.2822px;
}
.stl_261 {
	letter-spacing: 0.0085em;
}

.ie .stl_261 {
	letter-spacing: 0.1234px;
}
.stl_262 {
	letter-spacing: 0.0142em;
}

.ie .stl_262 {
	letter-spacing: 0.2065px;
}
.stl_263 {
	letter-spacing: 0.0097em;
}

.ie .stl_263 {
	letter-spacing: 0.1411px;
}
.stl_264 {
	letter-spacing: 0.007em;
}

.ie .stl_264 {
	letter-spacing: 0.1013px;
}
.stl_265 {
	letter-spacing: 0.0489em;
}

.ie .stl_265 {
	letter-spacing: 0.7113px;
}
.stl_266 {
	letter-spacing: 0.0038em;
}

.ie .stl_266 {
	letter-spacing: 0.056px;
}
.stl_267 {
	letter-spacing: 0.0083em;
}

.ie .stl_267 {
	letter-spacing: 0.12px;
}
.stl_268 {
	letter-spacing: 0.015em;
}

.ie .stl_268 {
	letter-spacing: 0.1594px;
}
.stl_269 {
	letter-spacing: 0.0145em;
}

.ie .stl_269 {
	letter-spacing: 0.2102px;
}
.stl_270 {
	letter-spacing: 0.0056em;
}

.ie .stl_270 {
	letter-spacing: 0.0816px;
}
.stl_271 {
	letter-spacing: 0.0927em;
}

.ie .stl_271 {
	letter-spacing: 0.9854px;
}
.stl_272 {
	letter-spacing: 0.0677em;
}

.ie .stl_272 {
	letter-spacing: 0.9854px;
}
.stl_273 {
	letter-spacing: 0.0146em;
}

.ie .stl_273 {
	letter-spacing: 0.2119px;
}
.stl_274 {
	letter-spacing: 0.0101em;
}

.ie .stl_274 {
	letter-spacing: 0.1471px;
}
.stl_275 {
	letter-spacing: 0.0094em;
}

.ie .stl_275 {
	letter-spacing: 0.1362px;
}
.stl_276 {
	letter-spacing: 0.0381em;
}

.ie .stl_276 {
	letter-spacing: 0.4053px;
}
.stl_277 {
	letter-spacing: 0.0392em;
}

.ie .stl_277 {
	letter-spacing: 0.4164px;
}
.stl_278 {
	letter-spacing: -0.0178em;
}

.ie .stl_278 {
	letter-spacing: -0.2586px;
}
.stl_279 {
	letter-spacing: 0.0323em;
}

.ie .stl_279 {
	letter-spacing: 0.47px;
}
.stl_280 {
	letter-spacing: 0.0442em;
}

.ie .stl_280 {
	letter-spacing: 0.47px;
}
.stl_281 {
	letter-spacing: 0.0017em;
}

.ie .stl_281 {
	letter-spacing: 0.0247px;
}
.stl_282 {
	letter-spacing: 0.0156em;
}

.ie .stl_282 {
	letter-spacing: 0.2272px;
}
.stl_283 {
	letter-spacing: -0.014em;
}

.ie .stl_283 {
	letter-spacing: -0.2036px;
}
.stl_284 {
	letter-spacing: 0.0184em;
}

.ie .stl_284 {
	letter-spacing: 0.268px;
}
.stl_285 {
	letter-spacing: -0.763em;
}

.ie .stl_285 {
	letter-spacing: -8.1081px;
}
.stl_286 {
	letter-spacing: 0.1122em;
}

.ie .stl_286 {
	letter-spacing: 1.192px;
}
.stl_287 {
	letter-spacing: -0.115em;
}

.ie .stl_287 {
	letter-spacing: -1.6727px;
}
.stl_288 {
	letter-spacing: 0.1118em;
}

.ie .stl_288 {
	letter-spacing: 1.6262px;
}
.stl_289 {
	letter-spacing: 0.0367em;
}

.ie .stl_289 {
	letter-spacing: 0.5338px;
}
.stl_290 {
	letter-spacing: 0.0362em;
}

.ie .stl_290 {
	letter-spacing: 0.5271px;
}
.stl_291 {
	letter-spacing: -0.1653em;
}

.ie .stl_291 {
	letter-spacing: -1.7562px;
}
.stl_292 {
	letter-spacing: -0.0079em;
}

.ie .stl_292 {
	letter-spacing: -0.1143px;
}
.stl_293 {
	letter-spacing: 0.0095em;
}

.ie .stl_293 {
	letter-spacing: 0.1386px;
}
.stl_294 {
	letter-spacing: 0.0104em;
}

.ie .stl_294 {
	letter-spacing: 0.1105px;
}
.stl_295 {
	letter-spacing: 0.0099em;
}

.ie .stl_295 {
	letter-spacing: 0.1435px;
}
.stl_296 {
	letter-spacing: 0.0055em;
}

.ie .stl_296 {
	letter-spacing: 0.0803px;
}
.stl_297 {
	letter-spacing: -0.0066em;
}

.ie .stl_297 {
	letter-spacing: -0.0961px;
}
.stl_298 {
	letter-spacing: 0.0052em;
}

.ie .stl_298 {
	letter-spacing: 0.0557px;
}
.stl_299 {
	font-size: 0.59776em;
	font-family: "TPCAUN+CMSY6", "Times New Roman";
	color: #000000;
}
.stl_300 {
	letter-spacing: 0.0148em;
}

.ie .stl_300 {
	letter-spacing: 0.1573px;
}
.stl_301 {
	letter-spacing: -0.0072em;
}

.ie .stl_301 {
	letter-spacing: -0.1051px;
}
.stl_302 {
	letter-spacing: 0.1064em;
}

.ie .stl_302 {
	letter-spacing: 1.1307px;
}
.stl_303 {
	letter-spacing: 0.0307em;
}

.ie .stl_303 {
	letter-spacing: 0.3263px;
}
.stl_304 {
	font-size: 0.664175em;
	font-family: "OUMSUF+CMSY8", "Times New Roman";
	color: #000000;
}
.stl_305 {
	letter-spacing: 0.0124em;
}

.ie .stl_305 {
	letter-spacing: 0.181px;
}
.stl_306 {
	letter-spacing: 0.0251em;
}

.ie .stl_306 {
	letter-spacing: 0.2665px;
}
.stl_307 {
	letter-spacing: 0.0172em;
}

.ie .stl_307 {
	letter-spacing: 0.1827px;
}
.stl_308 {
	letter-spacing: 0.032em;
}

.ie .stl_308 {
	letter-spacing: 0.465px;
}
.stl_309 {
	letter-spacing: 0.0071em;
}

.ie .stl_309 {
	letter-spacing: 0.104px;
}
.stl_310 {
	letter-spacing: 0.0059em;
}

.ie .stl_310 {
	letter-spacing: 0.0858px;
}
.stl_311 {
	letter-spacing: -0.0078em;
}

.ie .stl_311 {
	letter-spacing: -0.1131px;
}
.stl_312 {
	letter-spacing: 0.0123em;
}

.ie .stl_312 {
	letter-spacing: 0.1794px;
}
.stl_313 {
	letter-spacing: 0.0044em;
}

.ie .stl_313 {
	letter-spacing: 0.0644px;
}
.stl_314 {
	letter-spacing: 0.037em;
}

.ie .stl_314 {
	letter-spacing: 0.5382px;
}
.stl_315 {
	letter-spacing: 0.0105em;
}

.ie .stl_315 {
	letter-spacing: 0.1531px;
}
.stl_316 {
	letter-spacing: 0.0185em;
}

.ie .stl_316 {
	letter-spacing: 0.2691px;
}
.stl_317 {
	letter-spacing: 0.0036em;
}

.ie .stl_317 {
	letter-spacing: 0.052px;
}
.stl_318 {
	letter-spacing: 0.0029em;
}

.ie .stl_318 {
	letter-spacing: 0.0416px;
}
.stl_319 {
	letter-spacing: -0.0059em;
}

.ie .stl_319 {
	letter-spacing: -0.086px;
}
.stl_320 {
	letter-spacing: 0.0033em;
}

.ie .stl_320 {
	letter-spacing: 0.0484px;
}
.stl_321 {
	letter-spacing: 0.005em;
}

.ie .stl_321 {
	letter-spacing: 0.0727px;
}
.stl_322 {
	letter-spacing: 0.0081em;
}

.ie .stl_322 {
	letter-spacing: 0.1178px;
}
.stl_323 {
	letter-spacing: 0.0111em;
}

.ie .stl_323 {
	letter-spacing: 0.1619px;
}
.stl_324 {
	letter-spacing: -0.0108em;
}

.ie .stl_324 {
	letter-spacing: -0.1576px;
}
.stl_325 {
	letter-spacing: 0.0018em;
}

.ie .stl_325 {
	letter-spacing: 0.026px;
}
.stl_326 {
	letter-spacing: -0.826em;
}

.ie .stl_326 {
	letter-spacing: -8.7777px;
}
.stl_327 {
	letter-spacing: 0.0582em;
}

.ie .stl_327 {
	letter-spacing: 0.8465px;
}
.stl_328 {
	letter-spacing: 0.0067em;
}

.ie .stl_328 {
	letter-spacing: 0.097px;
}
.stl_329 {
	letter-spacing: -0.025em;
}

.ie .stl_329 {
	letter-spacing: -0.3636px;
}
.stl_330 {
	letter-spacing: 0.0019em;
}

.ie .stl_330 {
	letter-spacing: 0.0197px;
}
.stl_331 {
	letter-spacing: 0.0789em;
}

.ie .stl_331 {
	letter-spacing: 0.8385px;
}
.stl_332 {
	letter-spacing: 0.0787em;
}

.ie .stl_332 {
	letter-spacing: 0.8363px;
}
.stl_333 {
	letter-spacing: 0.0152em;
}

.ie .stl_333 {
	letter-spacing: 0.1615px;
}
.stl_334 {
	letter-spacing: 0.0795em;
}

.ie .stl_334 {
	letter-spacing: 1.1563px;
}
.stl_335 {
	letter-spacing: 0.0026em;
}

.ie .stl_335 {
	letter-spacing: 0.0383px;
}
.stl_336 {
	letter-spacing: 0.0025em;
}

.ie .stl_336 {
	letter-spacing: 0.0364px;
}
.stl_337 {
	letter-spacing: 0.15em;
}

.ie .stl_337 {
	letter-spacing: 1.5935px;
}
.stl_338 {
	font-size: 0.59776em;
	font-family: "FBKGBP+CMMI6", "Times New Roman";
	color: #000000;
}
.stl_339 {
	letter-spacing: -0.3742em;
}

.ie .stl_339 {
	letter-spacing: -5.4429px;
}
.stl_340 {
	letter-spacing: -0.2212em;
}

.ie .stl_340 {
	letter-spacing: -3.2175px;
}
.stl_341 {
	letter-spacing: -0.2215em;
}

.ie .stl_341 {
	letter-spacing: -3.2211px;
}
.stl_342 {
	letter-spacing: 0.139em;
}

.ie .stl_342 {
	letter-spacing: 2.0218px;
}
.stl_343 {
	letter-spacing: -0.3392em;
}

.ie .stl_343 {
	letter-spacing: -4.9338px;
}
.stl_344 {
	letter-spacing: -0.2222em;
}

.ie .stl_344 {
	letter-spacing: -3.232px;
}
.stl_345 {
	letter-spacing: -0.2214em;
}

.ie .stl_345 {
	letter-spacing: -3.2206px;
}
.stl_346 {
	letter-spacing: -0.4912em;
}

.ie .stl_346 {
	letter-spacing: -7.1447px;
}
.stl_347 {
	letter-spacing: -0.4922em;
}

.ie .stl_347 {
	letter-spacing: -7.1593px;
}
.stl_348 {
	letter-spacing: 0.1499em;
}

.ie .stl_348 {
	letter-spacing: 1.5928px;
}
.stl_349 {
	letter-spacing: -0.4622em;
}

.ie .stl_349 {
	letter-spacing: -6.7229px;
}
.stl_350 {
	letter-spacing: -0.3822em;
}

.ie .stl_350 {
	letter-spacing: -5.5593px;
}
.stl_351 {
	letter-spacing: 0.0785em;
}

.ie .stl_351 {
	letter-spacing: 1.1418px;
}
.stl_352 {
	letter-spacing: 0.0066em;
}

.ie .stl_352 {
	letter-spacing: 0.07px;
}
.stl_353 {
	letter-spacing: 0.1114em;
}

.ie .stl_353 {
	letter-spacing: 1.1838px;
}
.stl_354 {
	letter-spacing: 0.012em;
}

.ie .stl_354 {
	letter-spacing: 0.1745px;
}
.stl_355 {
	letter-spacing: 0.0397em;
}

.ie .stl_355 {
	letter-spacing: 0.4219px;
}
.stl_356 {
	letter-spacing: 0.0147em;
}

.ie .stl_356 {
	letter-spacing: 0.1562px;
}
.stl_357 {
	letter-spacing: 0.0213em;
}

.ie .stl_357 {
	letter-spacing: 0.3096px;
}
.stl_358 {
	letter-spacing: 0.0109em;
}

.ie .stl_358 {
	letter-spacing: 0.158px;
}
.stl_359 {
	letter-spacing: 0.0363em;
}

.ie .stl_359 {
	letter-spacing: 0.528px;
}
.stl_360 {
	letter-spacing: 0.0037em;
}

.ie .stl_360 {
	letter-spacing: 0.0543px;
}
.stl_361 {
	letter-spacing: 0.0181em;
}

.ie .stl_361 {
	letter-spacing: 0.2626px;
}
.stl_362 {
	letter-spacing: 0.0062em;
}

.ie .stl_362 {
	letter-spacing: 0.0898px;
}
.stl_363 {
	letter-spacing: 0.0813em;
}

.ie .stl_363 {
	letter-spacing: 1.1826px;
}
.stl_364 {
	letter-spacing: 0.0823em;
}

.ie .stl_364 {
	letter-spacing: 1.1971px;
}
.stl_365 {
	letter-spacing: 0.0049em;
}

.ie .stl_365 {
	letter-spacing: 0.0715px;
}
.stl_366 {
	letter-spacing: 0.004em;
}

.ie .stl_366 {
	letter-spacing: 0.0584px;
}
.stl_367 {
	letter-spacing: -0.013em;
}

.ie .stl_367 {
	letter-spacing: -0.1891px;
}
.stl_368 {
	letter-spacing: -0.0091em;
}

.ie .stl_368 {
	letter-spacing: -0.1329px;
}
.stl_369 {
	letter-spacing: 0.0051em;
}

.ie .stl_369 {
	letter-spacing: 0.0737px;
}
.stl_370 {
	letter-spacing: -0.0182em;
}

.ie .stl_370 {
	letter-spacing: -0.2647px;
}
.stl_371 {
	letter-spacing: 0.002em;
}

.ie .stl_371 {
	letter-spacing: 0.0291px;
}
.stl_372 {
	letter-spacing: 0.0024em;
}

.ie .stl_372 {
	letter-spacing: 0.0351px;
}
.stl_373 {
	letter-spacing: -0.021em;
}

.ie .stl_373 {
	letter-spacing: -0.3055px;
}
.stl_374 {
	letter-spacing: -0.0114em;
}

.ie .stl_374 {
	letter-spacing: -0.1653px;
}
.stl_375 {
	letter-spacing: -0.0131em;
}

.ie .stl_375 {
	letter-spacing: -0.1909px;
}
.stl_376 {
	letter-spacing: -0.011em;
}

.ie .stl_376 {
	letter-spacing: -0.16px;
}
.stl_377 {
	letter-spacing: 0.0082em;
}

.ie .stl_377 {
	letter-spacing: 0.1199px;
}
.stl_378 {
	letter-spacing: 0.0141em;
}

.ie .stl_378 {
	letter-spacing: 0.2051px;
}
.stl_379 {
	letter-spacing: 0.0163em;
}

.ie .stl_379 {
	letter-spacing: 0.2376px;
}
.stl_380 {
	letter-spacing: 0.0121em;
}

.ie .stl_380 {
	letter-spacing: 0.1286px;
}
.stl_381 {
	letter-spacing: 0.014em;
}

.ie .stl_381 {
	letter-spacing: 0.1488px;
}
.stl_382 {
	letter-spacing: 0.1074em;
}

.ie .stl_382 {
	letter-spacing: 1.1413px;
}
.stl_383 {
	letter-spacing: 0.0297em;
}

.ie .stl_383 {
	letter-spacing: 0.3156px;
}
.stl_384 {
	letter-spacing: 0.0144em;
}

.ie .stl_384 {
	letter-spacing: 0.2087px;
}
.stl_385 {
	letter-spacing: -0.035em;
}

.ie .stl_385 {
	letter-spacing: -0.5091px;
}
.stl_386 {
	letter-spacing: 0.1484em;
}

.ie .stl_386 {
	letter-spacing: 1.577px;
}
.stl_387 {
	letter-spacing: 0.0703em;
}

.ie .stl_387 {
	letter-spacing: 0.7471px;
}
.stl_388 {
	letter-spacing: 0.0158em;
}

.ie .stl_388 {
	letter-spacing: 0.1676px;
}
.stl_389 {
	letter-spacing: 0.0253em;
}

.ie .stl_389 {
	letter-spacing: 0.2687px;
}
.stl_390 {
	letter-spacing: -0.0064em;
}

.ie .stl_390 {
	letter-spacing: -0.0935px;
}
.stl_391 {
	letter-spacing: -0.023em;
}

.ie .stl_391 {
	letter-spacing: -0.3345px;
}
.stl_392 {
	letter-spacing: 0.0629em;
}

.ie .stl_392 {
	letter-spacing: 0.6689px;
}
.stl_393 {
	letter-spacing: 0.046em;
}

.ie .stl_393 {
	letter-spacing: 0.6689px;
}
.stl_394 {
	letter-spacing: -0.0105em;
}

.ie .stl_394 {
	letter-spacing: -0.1527px;
}
.stl_395 {
	letter-spacing: 0.096em;
}

.ie .stl_395 {
	letter-spacing: 1.3964px;
}
.stl_396 {
	letter-spacing: 0.0077em;
}

.ie .stl_396 {
	letter-spacing: 0.112px;
}
.stl_397 {
	letter-spacing: 0.019em;
}

.ie .stl_397 {
	letter-spacing: 0.2764px;
}
.stl_398 {
	letter-spacing: 0.0137em;
}

.ie .stl_398 {
	letter-spacing: 0.1998px;
}
.stl_399 {
	letter-spacing: 0.0119em;
}

.ie .stl_399 {
	letter-spacing: 0.1724px;
}
.stl_400 {
	letter-spacing: -0.0122em;
}

.ie .stl_400 {
	letter-spacing: -0.1778px;
}
.stl_401 {
	letter-spacing: 0.0193em;
}

.ie .stl_401 {
	letter-spacing: 0.2812px;
}
.stl_402 {
	letter-spacing: 0.0022em;
}

.ie .stl_402 {
	letter-spacing: 0.0323px;
}
.stl_403 {
	letter-spacing: -0.0192em;
}

.ie .stl_403 {
	letter-spacing: -0.2788px;
}
.stl_404 {
	letter-spacing: 0.0189em;
}

.ie .stl_404 {
	letter-spacing: 0.2754px;
}
.stl_405 {
	letter-spacing: 0.028em;
}

.ie .stl_405 {
	letter-spacing: 0.4073px;
}
.stl_406 {
	letter-spacing: -0.0093em;
}

.ie .stl_406 {
	letter-spacing: -0.1351px;
}
.stl_407 {
	letter-spacing: -0.1367em;
}

.ie .stl_407 {
	letter-spacing: -1.9886px;
}
.stl_408 {
	letter-spacing: -0.3027em;
}

.ie .stl_408 {
	letter-spacing: -4.0207px;
}
.stl_409 {
	font-size: 0.909092em;
	font-family: "JVLMLT+TeXGyreTermesX-Regular";
	color: #BF0040;
}
.stl_410 {
	letter-spacing: 0.0273em;
}

.ie .stl_410 {
	letter-spacing: 0.3976px;
}
.stl_411 {
	letter-spacing: 0.0386em;
}

.ie .stl_411 {
	letter-spacing: 0.562px;
}
.stl_412 {
	letter-spacing: 0.0061em;
}

.ie .stl_412 {
	letter-spacing: 0.0881px;
}
.stl_413 {
	letter-spacing: 0.1486em;
}

.ie .stl_413 {
	letter-spacing: 1.5791px;
}
.stl_414 {
	letter-spacing: 0.008em;
}

.ie .stl_414 {
	letter-spacing: 0.0853px;
}
.stl_415 {
	letter-spacing: -0.2134em;
}

.ie .stl_415 {
	letter-spacing: -1.7007px;
}
.stl_416 {
	letter-spacing: -0.8025em;
}

.ie .stl_416 {
	letter-spacing: -10.6606px;
}
.stl_417 {
	letter-spacing: -1.3376em;
}

.ie .stl_417 {
	letter-spacing: -10.6606px;
}
.stl_418 {
	letter-spacing: 0.1157em;
}

.ie .stl_418 {
	letter-spacing: 0.9221px;
}
.stl_419 {
	letter-spacing: 0.0127em;
}

.ie .stl_419 {
	letter-spacing: 0.1353px;
}
.stl_420 {
	letter-spacing: 0.0778em;
}

.ie .stl_420 {
	letter-spacing: 0.8268px;
}
.stl_421 {
	letter-spacing: 0.0664em;
}

.ie .stl_421 {
	letter-spacing: 0.9658px;
}
.stl_422 {
	letter-spacing: -0.0135em;
}

.ie .stl_422 {
	letter-spacing: -0.1961px;
}
.stl_423 {
	letter-spacing: -0.0162em;
}

.ie .stl_423 {
	letter-spacing: -0.2353px;
}
.stl_424 {
	letter-spacing: -0.0085em;
}

.ie .stl_424 {
	letter-spacing: -0.1231px;
}
.stl_425 {
	letter-spacing: -0.0099em;
}

.ie .stl_425 {
	letter-spacing: -0.1435px;
}
.stl_426 {
	font-size: 0.498133em;
	font-family: "CAIWFK+TeXGyreTermesX-Bold", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"HPMRIJ+CMMI5";
	src:url("4b11ac47-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_427 {
	font-size: 0.415108em;
	font-family: "HPMRIJ+CMMI5", "Times New Roman";
	color: #000000;
}
.stl_428 {
	letter-spacing: 0.1476em;
}

.ie .stl_428 {
	letter-spacing: 1.5685px;
}
.stl_429 {
	letter-spacing: 0.0634em;
}

.ie .stl_429 {
	letter-spacing: 0.6733px;
}
.stl_430 {
	letter-spacing: 0.1096em;
}

.ie .stl_430 {
	letter-spacing: 1.5937px;
}
.stl_431 {
	letter-spacing: 0.0221em;
}

.ie .stl_431 {
	letter-spacing: 0.3215px;
}
.stl_432 {
	letter-spacing: 0.0215em;
}

.ie .stl_432 {
	letter-spacing: 0.2281px;
}
.stl_433 {
	letter-spacing: 0.0065em;
}

.ie .stl_433 {
	letter-spacing: 0.0689px;
}
.stl_434 {
	letter-spacing: 0.0272em;
}

.ie .stl_434 {
	letter-spacing: 0.289px;
}
.stl_435 {
	letter-spacing: 0.0149em;
}

.ie .stl_435 {
	letter-spacing: 0.1583px;
}
.stl_436 {
	letter-spacing: 0.1474em;
}

.ie .stl_436 {
	letter-spacing: 1.5664px;
}
.stl_437 {
	letter-spacing: 0.0122em;
}

.ie .stl_437 {
	letter-spacing: 0.1294px;
}
.stl_438 {
	letter-spacing: 0.0076em;
}

.ie .stl_438 {
	letter-spacing: 0.081px;
}
.stl_439 {
	letter-spacing: 0.0262em;
}

.ie .stl_439 {
	letter-spacing: 0.2784px;
}
.stl_440 {
	letter-spacing: -0.0049em;
}

.ie .stl_440 {
	letter-spacing: -0.0715px;
}
.stl_441 {
	letter-spacing: 0.0154em;
}

.ie .stl_441 {
	letter-spacing: 0.1637px;
}
.stl_442 {
	letter-spacing: -0.243em;
}

.ie .stl_442 {
	letter-spacing: -3.2279px;
}
.stl_443 {
	letter-spacing: -0.2431em;
}

.ie .stl_443 {
	letter-spacing: -3.2288px;
}
.stl_444 {
	letter-spacing: 0.1098em;
}

.ie .stl_444 {
	letter-spacing: 1.5966px;
}
.stl_445 {
	letter-spacing: 0.0113em;
}

.ie .stl_445 {
	letter-spacing: 0.165px;
}
.stl_446 {
	letter-spacing: -0.0077em;
}

.ie .stl_446 {
	letter-spacing: -0.1119px;
}
.stl_447 {
	letter-spacing: 0.0292em;
}

.ie .stl_447 {
	letter-spacing: 0.4243px;
}
.stl_448 {
	letter-spacing: 0.0295em;
}

.ie .stl_448 {
	letter-spacing: 0.4285px;
}
.stl_449 {
	letter-spacing: 0.0294em;
}

.ie .stl_449 {
	letter-spacing: 0.4279px;
}
.stl_450 {
	letter-spacing: 0.0155em;
}

.ie .stl_450 {
	letter-spacing: 0.2249px;
}
.stl_451 {
	letter-spacing: 0.0207em;
}

.ie .stl_451 {
	letter-spacing: 0.3013px;
}
.stl_452 {
	letter-spacing: 0.0338em;
}

.ie .stl_452 {
	letter-spacing: 0.4913px;
}
.stl_453 {
	letter-spacing: 0.0206em;
}

.ie .stl_453 {
	letter-spacing: 0.3003px;
}
.stl_454 {
	letter-spacing: 0.0339em;
}

.ie .stl_454 {
	letter-spacing: 0.4928px;
}
.stl_455 {
	letter-spacing: -0.0134em;
}

.ie .stl_455 {
	letter-spacing: -0.195px;
}
.stl_456 {
	letter-spacing: 0.0093em;
}

.ie .stl_456 {
	letter-spacing: 0.1349px;
}
.stl_457 {
	letter-spacing: 0.0107em;
}

.ie .stl_457 {
	letter-spacing: 0.1558px;
}
.stl_458 {
	letter-spacing: 0.0064em;
}

.ie .stl_458 {
	letter-spacing: 0.0924px;
}
.stl_459 {
	letter-spacing: 0.0063em;
}

.ie .stl_459 {
	letter-spacing: 0.0916px;
}
@font-face {
	font-family:"RDKRNU+CMR9";
	src:url("aca25204-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_460 {
	font-size: 0.7472em;
	font-family: "RDKRNU+CMR9", "Times New Roman";
	color: #000000;
}
.stl_461 {
	font-size: 0.830217em;
	font-family: "NUICUK+CMMI10", "Times New Roman";
	color: #000000;
}
.stl_462 {
	font-size: 0.830217em;
	font-family: "VQWEOE+CMR10", "Times New Roman";
	color: #000000;
}
.stl_463 {
	letter-spacing: 0.1101em;
}

.ie .stl_463 {
	letter-spacing: 1.6015px;
}
@font-face {
	font-family:"BLDNOA+CMMI9";
	src:url("5b960fbc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_464 {
	font-size: 0.7472em;
	font-family: "BLDNOA+CMMI9", "Times New Roman";
	color: #000000;
}
.stl_465 {
	letter-spacing: -0.012em;
}

.ie .stl_465 {
	letter-spacing: -0.1745px;
}
.stl_466 {
	letter-spacing: 0.0129em;
}

.ie .stl_466 {
	letter-spacing: 0.1718px;
}
.stl_467 {
	letter-spacing: 0.0365em;
}

.ie .stl_467 {
	letter-spacing: 0.5303px;
}
.stl_468 {
	letter-spacing: 0.0159em;
}

.ie .stl_468 {
	letter-spacing: 0.2111px;
}
